---
title: Hermanos Prada | Autocinema Ink
---
<div class="services-header animated fadeInDown">
  <p style="text-align: left;"><a class="services-header__link" href="/#proyectos"><span><img height="12" src="/images/back.svg" alt="Autocinema Ink"></span> Regresar</a></p>
  <p><a class="mainLinkFooter animated fadeIn" href="/"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a></p>
  <p style="text-align: right;">
      <a class="services-header__link" href="mailto:info@autocinemaink.com">info@autocinemaink.com</a>
      <br>
      <a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a>
  </p>
</div>
<div class="director-subheader director-prada">
  <h3 class="animated fadeInDown delay-1s">Hermanos Prada</h3>
</div>
<div class="director">
  <div id="desktopGrid" class="director-grid animated fadeInUp delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover prada1 vimeo-launch" data-vimeo-id="730045215">
        <h5>Madrid Film</h5>
        <br>
        <p>Imagínate Un Lugar</p>
      </div>
      <div id="prada1" class="prada-1"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover prada2 vimeo-launch" data-vimeo-id="585940608">
        <h5>ONE PLAZA</h5>
        <br>
        <p>An Exclusive Sense of Luxury</p>
      </div>
      <div id="prada2" class="prada-2"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover prada3 vimeo-launch" data-vimeo-id="585944110">
        <h5>Chivas Venture</h5>
        <br>
        <p>Sea2see</p>
      </div>
      <div id="prada3" class="prada-3"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover prada4 vimeo-launch" data-vimeo-id="585940781">
        <h5>Dorien</h5>
        <br>
        <p>5 Episode Series</p>
      </div>
      <div id="prada4" class="prada-4"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover prada5 vimeo-launch" data-vimeo-id="730035219">
        <h5>Al fin del mundo</h5>
        <br>
        <p>Music Video Rodri Bold</p>
      </div>
      <div id="prada5" class="prada-5"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover prada6 vimeo-launch" data-vimeo-id="585941055">
        <h5>TABURETE JOHN FORD</h5>
        <br>
        <p>Short Film</p>
      </div>
      <div id="prada6" class="prada-6"></div>
    </div>
  </div>
  <div id="mobileGrid" class="director-grid director-grid-4 animated fadeInUp delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Madrid Film</h5>
        <br>
        <p>Imagínate Un Lugar</p>
      </div>
      <video id="prada1" class="prada-1" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/730045215/rendition/1080p/file.mp4?loc=external&signature=69545a813b30f87566f4b94fa1f57aa80e1841d3aa45d7eaa6a57c63cb442617" poster="data:image/gif,AAAA" type="video/mp4"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>ONE PLAZA</h5>
        <br>
        <p>An Exclusive Sense of Luxury</p>
      </div>
      <video id="prada2" class="prada-2" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/585940608/rendition/720p/file.mp4?loc=external&signature=7e362ee2e39139e9a3274306750dd25cd846f0fafff52fde2b760f8473042a99" poster="data:image/gif,AAAA" type="video/mp4"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Chivas Venture</h5>
        <br>
        <p>Sea2see</p>
      </div>
      <video id="prada3" class="prada-3" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/585944110/rendition/1080p/file.mp4?loc=external&signature=9a4cfad0b8a6bc059e229cebb9f5a29e0562f8a7dce63f5393a01f86dbfbf2d7" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Dorien</h5>
        <br>
        <p>5 Episode Series</p>
      </div>
      <video id="prada4" class="prada-4" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/585940781/rendition/1080p/file.mp4?loc=external&signature=8265daa37c55ee2e8a439440f59d5681b0befefb76cdf4503d552a09f5fa4f4d" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Al fin del mundo</h5>
        <br>
        <p>Music Video Rodri Bold</p>
      </div>
      <video id="prada5" class="prada-5" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/730035219/rendition/1080p/file.mp4?loc=external&signature=a0b44a68ef368404e7252cc6896202ad95f3767976bfe7fd01a423088b506cff" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>TABURETE JOHN FORD</h5>
        <br>
        <p>Short Film</p>
      </div>
      <video id="prada6" class="prada-6" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/585941055/rendition/1080p/file.mp4?loc=external&signature=811dd7859f0398e48faaa8778317a59b191a2f088d3ae0298a6953eb50c892da"  poster="data:image/gif,AAAA"></video>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script type="text/javascript">
  $('body')
.on('click', '.vimeo-launch', function () {
  var videoID = $(this).data('vimeo-id'),
      $video = '<div id="vimeo-pop-container"><div><span class="vimeo-close"></span><iframe src="https://player.vimeo.com/video/' + videoID + '/?title=1&amp;byline=1&amp;portrait=0&amp;autoplay=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>';
  $('body').append($video);
} )

.on('click', '.vimeo-close', function () {
  $(this).addClass('closing');

  $('#vimeo-pop-container').delay(700).animate({
    height: 0,
    top: '50%'
  }, 'fast', function () {
    $('#vimeo-pop-container').remove();
  });
} );
</script>


<!-- <script type="text/javascript">
  $(document).ready(function(){
      $('#prada1').click(function(){
        .setAttribute("poster"," ");
        .css("background","none");
        .play()
         // $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
      });
      $('#prada2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#prada3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#prada4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
   });
</script> -->
