---
title: Prat | Autocinema Ink
---
<div class="down-arrow"></div>
<div class="services-header animated fadeInDown">
  <p style="text-align: left;"><a class="services-header__link" href="/#proyectos"><span><img height="12" src="/images/back.svg" alt="Autocinema Ink"></span> Go Back</a></p>
  <p><a class="mainLinkFooter animated fadeIn" href="/"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a></p>
  <p style="text-align: right;">
      <a class="services-header__link" href="mailto:info@autocinemaink.com">info@autocinemaink.com</a>
      <br>
      <a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a>
  </p>
</div>
<div class="director-subheader director-prat">
  <h3 class="animated fadeInDown delay-1s">Prat</h3>
</div>
<div class="director">
  <div id="desktopGrid" class="director-grid animated fadeIn delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover lubezki4 vimeo-launch" data-vimeo-id="1023083057">
        <h5>ABC</h5>
      </div>
      <div id="prat1" class="prat-1"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover lubezki6 vimeo-launch" data-vimeo-id="1023082145">
        <h5>Loto</h5>
      </div>
      <div id="prat2" class="prat-2"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover lubezki5 vimeo-launch" data-vimeo-id="1023082055">
        <h5>Saladitas</h5>
      </div>
      <div id="prat3" class="prat-3"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover lubezki2 vimeo-launch" data-vimeo-id="1023082089">
        <h5>Renault</h5>
      </div>
      <div id="prat4" class="prat-4"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover lubezki3 vimeo-launch" data-vimeo-id="1023082112">
        <h5>Aperol</h5>
      </div>
      <div id="prat5" class="prat-5"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover lubezki1 vimeo-launch" data-vimeo-id="1023082133">
        <h5>Toyota</h5>
      </div>
      <div id="prat6" class="prat-6"></div>
    </div>
  </div>
  <div id="mobileGrid" class="director-grid director-grid-4 animated fadeIn delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>ABC</h5>
      </div>
      <video id="prat1" class="prat-1" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/1023083057/rendition/1080p/file.mp4?loc=external&signature=ee3b85b7aa0d31c69cbd3d103dae26e80c6e78370a965e59c38021f71d3ab5d6" poster="data:image/gif,AAAA"></video>
    </div>

    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Loto</h5>
      </div>
      <video id="prat2" class="prat-2" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/1023082145/rendition/720p/file.mp4?loc=external&signature=d17891771b98263d8531b562445559e4c6f2e0bc4a37aadfe69b6758704b5475" poster="data:image/gif,AAAA" type="video/mp4"></video>
    </div>

    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Saladitas</h5>
      </div>
      <video id="prat3" class="prat-3" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/1023082055/rendition/720p/file.mp4?loc=external&signature=0f6e0a958f6d83522c196f61a8552e8be660188671d9d4bb0c71a6aadb7aab53" poster="data:image/gif,AAAA"></video>
    </div>
    
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Renault</h5>
      </div>
      <video id="prat4" class="prat-4" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/1023082089/rendition/540p/file.mp4?loc=external&signature=2f0f4d0dda7d510d93ed5e0bf5a7687468d10c209b271cb74f8e0a84e4e974a1"  poster="data:image/gif,AAAA"></video>
    </div>
    
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Aperol</h5>
      </div>
      <video id="prat5" class="prat-5" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/1023082112/rendition/540p/file.mp4?loc=external&signature=735fc20a0270fcfe034962696defec496f9693f658111d31ca8a31d169ddeda7" poster="data:image/gif,AAAA"></video>
    </div>

    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Toyota</h5>
      </div>
      <video id="prat6" class="prat-6" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/1023082133/rendition/720p/file.mp4?loc=external&signature=458ee2df0540feebf6b00eeea79e595c3d7ab1f749f0303a8c9e83d7a2bd8a7a" poster="data:image/gif,AAAA" type="video/mp4"></video>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script type="text/javascript">
  $('body')
.on('click', '.vimeo-launch', function () {
  var videoID = $(this).data('vimeo-id'),
      $video = '<div id="vimeo-pop-container"><div><span class="vimeo-close"></span><iframe src="https://player.vimeo.com/video/' + videoID + '/?title=1&amp;byline=1&amp;portrait=0&amp;autoplay=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>';
  $('body').append($video);
} )

.on('click', '.vimeo-close', function () {
  $(this).addClass('closing');

  $('#vimeo-pop-container').delay(700).animate({
    height: 0,
    top: '50%'
  }, 'fast', function () {
    $('#vimeo-pop-container').remove();
  });
} );
</script>


<!-- <script type="text/javascript">
  $(document).ready(function(){
      $('#lubezki1').click(function(){
        .setAttribute("poster"," ");
        .css("background","none");
        .play()
         // $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
      });
      $('#lubezki2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#lubezki3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#lubezki4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
   });
</script> -->
