---
title: Hari Romay | Autocinema Ink
---
<a class="mainLink" href="/"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a>
<div class="director">
  <div class="services-header">
    <p><a class="services-header__link" href="https://goo.gl/maps/5XpHfCmTRwZj5n4q7">Colima 162, Col. Roma Norte, CDMX</a></p>
    <p class="services-header__alt"><a class="services-header__link" href="mailto:hola@autocinemaink.com">hola@autocinemaink.com</a></p>
    <p><a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a></p>
  </div>
  <div class="director-subheader">
    <h3>Hari Romay</h3>
  </div>
  <div class="director-grid">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Mercedez Benz</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="hari1" class="hari-1" onclick="this.controls=true" src="/images/hari/mercedes.webm" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Central Hoteles</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="hari2" class="hari-2" onclick="this.controls=true" src="/images/hari/hoteles.webm"  poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Cerveza Modelo</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="hari3" class="hari-3" onclick="this.controls=true" src="/images/hari/modelo.webm" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Cerveza Modelo</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="hari4" class="hari-4" onclick="this.controls=true" src="/images/hari/modelo2.webm" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Cerveza Modelo</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="hari5" class="hari-5" onclick="this.controls=true" src="/images/hari/modelo3.webm" poster="data:image/gif,AAAA"></video>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>


<script type="text/javascript">
  $(document).ready(function(){
      $('#hari1').click(function(){
        .setAttribute("poster"," ");
        .css("background","none");
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
      });
      $('#hari2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#hari3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#hari4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#hari5').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
   });
</script>
