---
title: Daniela Tena | Autocinema Ink
---
<div class="director">
  <div class="services-header animated fadeInDown">
    <p><a class="services-header__link" href="https://goo.gl/maps/5XpHfCmTRwZj5n4q7">Colima 162, Col. Roma Norte, CDMX</a></p>
    <p class="services-header__alt"><a class="services-header__link" href="mailto:info@autocinemaink.com">info@autocinemaink.com</a></p>
    <p><a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a></p>
  </div>
  <div class="director-subheader animated fadeInDown delay-1s">
    <h3>Daniela Tena</h3>
  </div>
  <div id="desktopGrid" class="director-grid animated fadeInUp delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Same Way</h5>
        <button class="vimeo-launch" data-vimeo-id="462749939"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="tena1" class="tena-1">

      </div>
    </div>

    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Gucci</h5>
        <button class="vimeo-launch" data-vimeo-id="578164949"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="tena2" class="tena-2">

      </div>
    </div>

    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Coca-cola</h5>
        <button class="vimeo-launch" data-vimeo-id="578162116"><img src="../images/play.svg" alt=""></button>

      </div>
      <div id="tena3" class="tena-3">

      </div>
    </div>

    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Neutrogena</h5>
        <button class="vimeo-launch" data-vimeo-id="578161414"><img src="../images/play.svg" alt=""></button>

      </div>
      <div id="tena4" class="tena-4">

      </div>
    </div>

    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>MTV</h5>
        <button class="vimeo-launch" data-vimeo-id="460246978"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="tena5" class="tena-5">

      </div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Aguila</h5>
        <button class="vimeo-launch" data-vimeo-id="462751626"><img src="../images/play.svg" alt=""></button>

      </div>
      <div id="tena6" class="tena-6">

      </div>
    </div>
  </div>

  <div id="mobileGrid" class="director-grid director-grid-6 animated fadeInUp delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Same Way</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="tena1" class="tena-1" onclick="this.controls=true" src="https://player.vimeo.com/external/462749939.hd.mp4?s=7bc68bbf4da2591a8c2fc9d4f5f4e4cd92a4c96d&profile_id=174" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Gucci</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="tena2" class="tena-2" onclick="this.controls=true" src="https://player.vimeo.com/external/578164949.hd.mp4?s=9979cab951c8f0113732765890d8967b88e47849&profile_id=175"  poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Coca-cola</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="tena3" class="tena-3" onclick="this.controls=true" src="https://player.vimeo.com/external/578162116.hd.mp4?s=9668f6a2717ac2da57bf22709596dbba1b50bb07&profile_id=175" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Neutrogena</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="tena4" class="tena-4" onclick="this.controls=true" src="https://player.vimeo.com/external/578161414.hd.mp4?s=d6e3cfef087f01233697020bbb96224e2bcf1c7b&profile_id=175" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>MTV</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="tena5" class="tena-5" onclick="this.controls=true" src="https://player.vimeo.com/external/462753096.hd.mp4?s=13736e88c691b93270a4aa6b3163b492c6d21892&profile_id=174" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Aguila</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="tena6" class="tena-6" onclick="this.controls=true" src="https://player.vimeo.com/external/462751626.hd.mp4?s=18800d9b29161a47ff825c14a149d57c650c9090&profile_id=174" poster="data:image/gif,AAAA"></video>
    </div>
  </div>
  <a class="mainLinkFooter animated fadeIn" href="/"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a>

</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script type="text/javascript">
    $('body')
  .on('click', '.vimeo-launch', function () {
    var videoID = $(this).data('vimeo-id'),
        $video = '<div id="vimeo-pop-container"><div><span class="vimeo-close"></span><iframe src="https://player.vimeo.com/video/' + videoID + '/?title=1&amp;byline=1&amp;portrait=0&amp;autoplay=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>';
    $('body').append($video);
  } )

  .on('click', '.vimeo-close', function () {
    $(this).addClass('closing');

    $('#vimeo-pop-container').delay(700).animate({
      height: 0,
      top: '50%'
    }, 'fast', function () {
      $('#vimeo-pop-container').remove();
    });
  } );
  </script>

<!-- <script type="text/javascript">
  $(document).ready(function(){
      $('#maiola1').click(function(){
        .setAttribute("poster"," ");
        .css("background","none");
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
      });
      $('#maiola2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#maiola3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#maiola4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#maiola5').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#maiola6').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
   });
</script> -->
