---
title: SAVA | Autocinema Ink
---
<div class="down-arrow"></div>
<div class="services-header animated fadeInDown">
  <p style="text-align: left;"><a class="services-header__link" href="/#proyectos"><span><img height="12" src="/images/back.svg" alt="Autocinema Ink"></span> Go Back</a></p>
  <p><a class="mainLinkFooter animated fadeIn" href="/"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a></p>
  <p style="text-align: right;">
      <a class="services-header__link" href="mailto:info@autocinemaink.com">info@autocinemaink.com</a>
      <br>
      <a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a>
  </p>
</div>
<div class="director-subheader director-sava">
  <h3 class="animated fadeInDown delay-1s">SAVA</h3>
</div>
<div class="director">
  <div id="desktopGrid" class="director-grid animated fadeIn delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover sava1 vimeo-launch" data-vimeo-id="808314858">
        <h5>XX Lager</h5>
        <br>
        <p>The Future Is Yours</p>
      </div>
      <div id="sava1" class="sava-1"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover sava2 vimeo-launch" data-vimeo-id="808322834">
        <h5>Domino's Pizza</h5>
      </div>
      <div id="sava2" class="sava-2"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover sava3 vimeo-launch" data-vimeo-id="808316773">
        <h5>Thinkful</h5>
      </div>
      <div id="sava3" class="sava-3"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover sava4 vimeo-launch" data-vimeo-id="808319599">
        <h5>Somontano y Teruel</h5>
      </div>
      <div id="sava4" class="sava-4"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover sava5 vimeo-launch" data-vimeo-id="808320429">
        <h5>Renault</h5>
        <br>
        <p>Hugo's Journey</p>
      </div>
      <div id="sava5" class="sava-5"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover sava6 vimeo-launch" data-vimeo-id="808322072">
        <h5>MG Graphics</h5>
        <br>
        <p>The New Generation</p>
      </div>
      <div id="sava6" class="sava-6"></div>
    </div>

  </div>

  <div id="mobileGrid" class="director-grid animated fadeIn delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>XX Lager</h5>
        <br>
        <p>The Future Is Yours</p>
      </div>
      <video id="sava1" class="sava-1" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/808314858/rendition/1080p/file.mp4?loc=external&signature=e95c0f88b4be42ef127dd5fe7eee09e427c30630915540c7836f9060fb4e849a" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Domino's Pizza</h5>
      </div>
      <video id="sava2" class="sava-2" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/808322834/rendition/1080p/file.mp4?loc=external&signature=31b6efd04f00aefaec2612409001b74765e198701bce4a09497ad17cfa14a6d8"  poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Thinkful Color</h5>
      </div>
      <video id="sava3" class="sava-3" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/808316773/rendition/1080p/file.mp4?loc=external&signature=0e4a330c3ff7d4b72739cd6a91c2bb63da31a1a2be3be94355ca15a4689e41aa" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Somontano y Teruel</h5>
      </div>
      <video id="sava4" class="sava-4" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/808319599/rendition/1080p/file.mp4?loc=external&signature=cfde95d76dbed7f434f7752cbaa08bf90942f6c24833169cacce0e689ada3af9" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Renault</h5>
        <br>
        <p>Hugo's Journey</p>
      </div>
      <video id="sava5" class="sava-5" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/808320429/rendition/1080p/file.mp4?loc=external&signature=61c007609605d2f480db28b08e40d4949a70f643ff243c9918d97cd171b4d0b2" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>MG Graphics</h5>
        <br>
        <p>The New Generation</p>
      </div>
      <video id="sava6" class="sava-6" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/808322072/rendition/1080p/file.mp4?loc=external&signature=f277373dac942b4a30f95c2ea31978085ef78b4f6d5a9d02e0c92eef71910b99" poster="data:image/gif,AAAA"></video>
    </div>

  </div>

</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script type="text/javascript">
    $('body')
  .on('click', '.vimeo-launch', function () {
    var videoID = $(this).data('vimeo-id'),
        $video = '<div id="vimeo-pop-container"><div><span class="vimeo-close"></span><iframe src="https://player.vimeo.com/video/' + videoID + '/?title=1&amp;byline=1&amp;portrait=0&amp;autoplay=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>';
    $('body').append($video);
  } )

  .on('click', '.vimeo-close', function () {
    $(this).addClass('closing');

    $('#vimeo-pop-container').delay(700).animate({
      height: 0,
      top: '50%'
    }, 'fast', function () {
      $('#vimeo-pop-container').remove();
    });
  } );
  </script>

<!-- <script type="text/javascript">
  $(document).ready(function(){
      $('#hari1').click(function(){
        .setAttribute("poster"," ");
        .css("background","none");
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
      });
      $('#hari2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#hari3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#hari4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#hari5').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
   });
</script> -->
