---
title: Agos Bruera | Autocinema Ink
---
<div class="director">
  <div class="services-header animated fadeInDown">
    <p><a class="services-header__link" href="https://goo.gl/maps/5XpHfCmTRwZj5n4q7">Ciudad de México</a></p>
    <p class="services-header__alt"><a class="services-header__link" href="mailto:info@autocinemaink.com">info@autocinemaink.com</a></p>
    <p><a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a></p>
  </div>
  <div class="director-subheader animated fadeInDown delay-1s">
    <h3>Agos Bruera</h3>
  </div>
  <div id="desktopGrid" class="director-grid animated fadeInUp delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Bailarina solo</h5>
        <button class="vimeo-launch" data-vimeo-id="706235534"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="bruera6" class="romay-2"></div>
    </div>
    <div class="director-grid__item">
      <div id="video1play" class="director-grid__item-hover">
        <h5>Bumble</h5>
        <button class="vimeo-launch" data-vimeo-id="706236194"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="bruera1" class="romay-1"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Part of it</h5>
        <button class="vimeo-launch" data-vimeo-id="706236234"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="bruera2" class="romay-6"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Sopas Maggi</h5>
        <button class="vimeo-launch" data-vimeo-id="706236266"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="bruera3" class="romay-3"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>La Lechera</h5>
        <button class="vimeo-launch" data-vimeo-id="706236214"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="bruera4" class="romay-4"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Bandoleiro</h5>
        <button class="vimeo-launch" data-vimeo-id="706235613"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="bruera5" class="romay-5"></div>
    </div>

  </div>

  <div id="mobileGrid" class="director-grid director-grid-6 animated fadeInUp delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Bailarina solo</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="bruera6" class="romay-2" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/706235534/rendition/720p/file.mp4?loc=external&signature=c64bd4ca331051464a1d026de8fc502283793733581becd1bd3a06f89d3fc6cb"  poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div id="video1play" class="director-grid__item-hover">
        <h5>Bumble</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="bruera1" class="romay-1" onclick="this.controls=true;this.poster=false" src="https://player.vimeo.com/progressive_redirect/playback/706236194/rendition/720p/file.mp4?loc=external&signature=9899dbdf05de91565d6e6b40ff5c186e78c4e4c99c73cb7f786a021ed23de369" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Part of it</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="bruera2" class="romay-6" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/706236234/rendition/1080p/file.mp4?loc=external&signature=d986dc7b5e968aea11647e34121193dc2efa5868561fefa413e264025082d70c" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Sopas Maggi</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="bruera3" class="romay-3" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/706236266/rendition/1080p/file.mp4?loc=external&signature=bce88312bc2342a60527bab8b4dd2842c711ee87aa3d7cc48487c10f10a87c4c" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>La Lechera</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="bruera4" class="romay-4" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/706236214/rendition/720p/file.mp4?loc=external&signature=aa21fce023ab40840b85fdb67cabf6f438932228a84307aa1d35cc61e3bc14f6" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Bandoleiro</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="bruera5" class="romay-5" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/706235613/rendition/720p/file.mp4?loc=external&signature=14d735e9650b1154ada6de4a1a9c741b4b523a2344b143b6f86cb434bb692f51" poster="data:image/gif,AAAA"></video>
    </div>

  </div>
  <a class="mainLinkFooter animated fadeIn" href="/"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a>

</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script type="text/javascript">
  $('body')
.on('click', '.vimeo-launch', function () {
  var videoID = $(this).data('vimeo-id'),
      $video = '<div id="vimeo-pop-container"><div><span class="vimeo-close"></span><iframe src="https://player.vimeo.com/video/' + videoID + '/?title=1&amp;byline=1&amp;portrait=0&amp;autoplay=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>';
  $('body').append($video);
} )

.on('click', '.vimeo-close', function () {
  $(this).addClass('closing');

  $('#vimeo-pop-container').delay(700).animate({
    height: 0,
    top: '50%'
  }, 'fast', function () {
    $('#vimeo-pop-container').remove();
  });
} );
</script>

<!-- <script>

  $(document).ready(function(){
    function toggleBg() {
        .toggleClass("collapsed pressed");
        .setAttribute("controls","controls");
        .preventDefault();
    }
    toggleBg();

    $('#video1').live('click', function(e){
       toggleBg();
    });

      $('#video2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         $(this).css("background","none");
      });
      $('#video3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         $(this).css("background","none");
      });
      $('#video4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#video5').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#video6').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $("#video1").click(function(){
        $(this).toggleClass("background-none");
      });
   });

  $(document).ready(function(){

      $('#video2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#video3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         $(this).css("background","none");
      });
      $('#video4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#video5').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $("#video1").click(function(){
        $(this).toggleClass("background-none");
      });
   });

</script> -->
