---
title: Alejandro Lubezki | Autocinema Ink
---
<a class="mainLink" href="/"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a>
<div class="director">
  <div class="services-header">
    <p><a class="services-header__link" href="https://goo.gl/maps/5XpHfCmTRwZj5n4q7">Colima 162, Col. Roma Norte, CDMX</a></p>
    <p class="services-header__alt"><a class="services-header__link" href="mailto:hola@autocinemaink.com">hola@autocinemaink.com</a></p>
    <p><a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a></p>
  </div>
  <div class="director-subheader">
    <h3>Alejandro Lubezki</h3>
  </div>
  <div class="director-grid">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Una Guia</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="lubezki1" class="lubezki-1" onclick="this.controls=true" src="https://player.vimeo.com/external/376976211.sd.mp4?s=209e5b4ab8e64bed028a471df8a0d8c863a66643&profile_id=165" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Es Hora</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="lubezki2" class="lubezki-2" onclick="this.controls=true" src="https://player.vimeo.com/external/376976066.sd.mp4?s=d4622700123c3407569328714b1a4ff19ec15691&profile_id=165"  poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Pizzas</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="lubezki3" class="lubezki-3" onclick="this.controls=true" src="https://player.vimeo.com/external/376976085.sd.mp4?s=bd38fe56b6287975d8e4bfd1f2c9d19c606e4dcc&profile_id=165" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Si Yo Fuera</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="lubezki4" class="lubezki-4" onclick="this.controls=true" src="https://player.vimeo.com/external/376976120.hd.mp4?s=bb9b33bc4e6edd73af906e93f231f500c9b8ead2&profile_id=174" poster="data:image/gif,AAAA"></video>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>


<script type="text/javascript">
  $(document).ready(function(){
      $('#lubezki1').click(function(){
        .setAttribute("poster"," ");
        .css("background","none");
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
      });
      $('#lubezki2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#lubezki3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#lubezki4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
   });
</script>
