---
title: Ale Lubezki | Autocinema Ink
---
<div class="down-arrow"></div>
<div class="services-header animated fadeInDown">
  <p style="text-align: left;"><a class="services-header__link" href="/#proyectos"><span><img height="12" src="/images/back.svg" alt="Autocinema Ink"></span> Go Back</a></p>
  <p><a class="mainLinkFooter animated fadeIn" href="/"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a></p>
  <p style="text-align: right;">
      <a class="services-header__link" href="mailto:info@autocinemaink.com">info@autocinemaink.com</a>
      <br>
      <a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a>
  </p>
</div>
<div class="director-subheader director-lubezki">
  <h3 class="animated fadeInDown delay-1s">Alejandro Lubezki</h3>
</div>
<div class="director">
  <div id="desktopGrid" class="director-grid animated fadeIn delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover lubezki4 vimeo-launch" data-vimeo-id="376976120">
        <h5>Si Yo Fuera Tu</h5>
        <br>
        <p>Movie</p>
      </div>
      <div id="lubezki4" class="lubezki-4"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover lubezki6 vimeo-launch" data-vimeo-id="438579341">
        <h5>Conekta</h5>
        <br>
        <p>Taller</p>
      </div>
      <div id="lubezki6" class="lubezki-6"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover lubezki5 vimeo-launch" data-vimeo-id="1058241531">
        <h5>Jafra Directors Cut</h5>
        <br>
        <p>—</p>
      </div>
      <div id="lubezki8" class="lubezki-8"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover lubezki2 vimeo-launch" data-vimeo-id="1058312460">
        <h5>GUM Director`s cut</h5>
        <br>
        <p>—</p>
      </div>
      <div id="lubezki7" class="lubezki-7"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover lubezki3 vimeo-launch" data-vimeo-id="376976085">
        <h5>Pizzas</h5>
        <br>
        <p>Short Film</p>
      </div>
      <div id="lubezki3" class="lubezki-3"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover lubezki1 vimeo-launch" data-vimeo-id="376976211">
        <h5>UNA GUÍA CONTRA MI MISMO</h5>
        <br>
        <p>Short Film</p>
      </div>
      <div id="lubezki1" class="lubezki-1"></div>
    </div>
  </div>
  <div id="mobileGrid" class="director-grid director-grid-4 animated fadeIn delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Si Yo Fuera Tu</h5>
        <br>
        <p>Movie</p>
      </div>
      <video id="lubezki4" class="lubezki-4" onclick="this.controls=true" src="https://player.vimeo.com/external/376976120.hd.mp4?s=bb9b33bc4e6edd73af906e93f231f500c9b8ead2&profile_id=174" poster="data:image/gif,AAAA"></video>
    </div>

    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Conekta</h5>
        <br>
        <p>Taller</p>
      </div>
      <video id="lubezki6" class="lubezki-6" onclick="this.controls=true" src="https://player.vimeo.com/external/438579341.hd.mp4?s=2127710e97c5779bdcc487f144616c0c2cf5f00b&profile_id=175" poster="data:image/gif,AAAA" type="video/mp4"></video>
    </div>

    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Jafra Directors Cut</h5>
        <br>
        <p>—</p>
      </div>
      <video id="lubezki8" class="lubezki-8" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/1058241531/rendition/1080p/file.mp4?loc=external&signature=c0f38ba2600333e646f24615253f5870ccb3886a3f9e0a344a90487ec8db60f8" poster="data:image/gif,AAAA"></video>
    </div>
    
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>GUM Director`s cut</h5>
        <br>
        <p>—</p>
      </div>
      <video id="lubezki7" class="lubezki-7" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/1058312460/rendition/720p/file.mp4?loc=external&signature=c79f127fd8f4bf311ab2eb012eb50d1eafd18d85c8287efaf1a8a27c1c4ba636"  poster="data:image/gif,AAAA"></video>
    </div>
    
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Pizzas</h5>
        <br>
        <p>Short Film</p>
      </div>
      <video id="lubezki3" class="lubezki-3" onclick="this.controls=true" src="https://player.vimeo.com/external/376976085.sd.mp4?s=bd38fe56b6287975d8e4bfd1f2c9d19c606e4dcc&profile_id=165" poster="data:image/gif,AAAA"></video>
    </div>

    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>UNA GUÍA CONTRA MI MISMO</h5>
        <br>
        <p>Short Film</p>
      </div>
      <video id="lubezki1" class="lubezki-1" onclick="this.controls=true" src="https://player.vimeo.com/external/376976211.sd.mp4?s=209e5b4ab8e64bed028a471df8a0d8c863a66643&profile_id=165" poster="data:image/gif,AAAA" type="video/mp4"></video>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script type="text/javascript">
  $('body')
.on('click', '.vimeo-launch', function () {
  var videoID = $(this).data('vimeo-id'),
      $video = '<div id="vimeo-pop-container"><div><span class="vimeo-close"></span><iframe src="https://player.vimeo.com/video/' + videoID + '/?title=1&amp;byline=1&amp;portrait=0&amp;autoplay=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>';
  $('body').append($video);
} )

.on('click', '.vimeo-close', function () {
  $(this).addClass('closing');

  $('#vimeo-pop-container').delay(700).animate({
    height: 0,
    top: '50%'
  }, 'fast', function () {
    $('#vimeo-pop-container').remove();
  });
} );
</script>


<!-- <script type="text/javascript">
  $(document).ready(function(){
      $('#lubezki1').click(function(){
        .setAttribute("poster"," ");
        .css("background","none");
        .play()
         // $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
      });
      $('#lubezki2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#lubezki3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#lubezki4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
   });
</script> -->
