@import 'fullpage';
@import 'animate';

@font-face {
    font-family: 'RT Alias Grotesk';
    src: url('RTAliasGrotesk-Regular.woff2') format('woff2'),
        url('RTAliasGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RT Alias Grotesk';
    src: url('RTAliasGrotesk-Light.woff2') format('woff2'),
        url('RTAliasGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'RT Alias Grotesk', sans-serif;
  text-align: center;
}

.cls-1{fill:#f37317;}

.intro-container {
  &__action {
    text-transform: uppercase;
    a {
      color: #fff;
      display: block;
      font-size: 21px;
      margin: 1rem 0;
      text-decoration: none;
    }
    p {
      font-size: 12px;
      opacity: 0.4;
    }
  }
  &__logo {
    margin: 3rem 0;

  }
}

#logo {
  max-width: 80vw;
  stroke: rgb(243, 115, 23);
  path:nth-child(1) {
    stroke-dasharray: 61;
    stroke-dashoffset: 61;
    animation: line-anim 3s ease forwards;
    animation-delay: 1s;
  }
  path:nth-child(2) {
    stroke-dasharray: 174;
    stroke-dashoffset: 174;
    animation: line-anim 3s ease forwards;
    animation-delay: 1s;
  }
  path:nth-child(3) {
    stroke-dasharray: 141;
    stroke-dashoffset: 141;
    animation: line-anim 3s ease forwards;
    animation-delay: 1s;
  }
  path:nth-child(4) {
    stroke-dasharray: 765;
    stroke-dashoffset: 765;
    animation: line-anim 3s ease forwards;
    animation-delay: 1s;
  }
  path:nth-child(5) {
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: line-anim 3s ease forwards;
    animation-delay: 1s;
  }
  path:nth-child(6) {
    stroke-dasharray: 397;
    stroke-dashoffset: 397;
    animation: line-anim 3s ease forwards;
    animation-delay: 1s;
  }
  path:nth-child(7) {
    stroke-dasharray: 995;
    stroke-dashoffset: 995;
    animation: line-anim 3s ease forwards;
    animation-delay: 1s;
  }
  path:nth-child(8) {
    stroke-dasharray: 559;
    stroke-dashoffset: 559;
    animation: line-anim 3s ease forwards;
    animation-delay: 1s;
  }
  path:nth-child(9) {
    stroke-dasharray: 1399;
    stroke-dashoffset: 1399;
    animation: line-anim 3s ease forwards;
    animation-delay: 1s;
  }
  path:nth-child(10) {
    stroke-dasharray: 766;
    stroke-dashoffset: 766;
    animation: line-anim 3s ease forwards;
    animation-delay: 1s;
  }
  path:nth-child(11) {
    stroke-dasharray: 781;
    stroke-dashoffset: 781;
    animation: line-anim 3s ease forwards;
    animation-delay: 1s;
  }
  path:nth-child(12) {
    stroke-dasharray: 786;
    stroke-dashoffset: 786;
    animation: line-anim 3s ease forwards;
    animation-delay: 1s;
  }
  path:nth-child(13) {
    stroke-dasharray: 691;
    stroke-dashoffset: 691;
    animation: line-anim 3s ease forwards;
    animation-delay: 1s;
  }
}

@keyframes line-anim {
  from {
    fill: rgba(243, 115, 23,0);
  }
  to {
    fill: rgba(243, 115, 23,1);
    stroke-dashoffset:0;
  }
}

.about {
  &-link {
    font-size: 1vw;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.services {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 3rem;
  width: 100%;
  &-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    &__link {
      color: #fff;
      font-size: 12px;
      font-weight: 300;
      text-decoration: none;
      text-transform: uppercase;
    }
    &__alt {
      position: absolute;
      left: 45%;
    }
  }
  &-logo {
    img {
      height: 40px;
    }
  }
  &-list {
    h3 {
      font-size: 4vw;
      font-weight: 300;
      line-height: 140%;
      text-align: left;
    }
    ul {
      color: #fff;
      font-size: 1rem;
      font-weight: 300;
      list-style: none;
      margin-bottom: 3rem;
      text-decoration: none;
      text-transform: uppercase;
    }
    p {
      color: #fff;
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}

.projects {
  align-items: center;
  background-size: cover !important;
  background-position: center !important;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  padding: 3rem;
  width: 100%;
  transition: .25s;
  &-list {
    width: 100%;
    &__row ul {
      display: flex;
      list-style: none;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 1rem;
    }
    &__row a {
      color: #fff;
      cursor: pointer;
      font-size: 2.7vw;
      text-decoration: none;
      text-transform: uppercase;
      transition: .25s;
      &:hover {
        color: #F37317;
      }
    }
  }
  &-logo {
    margin-top: 2rem;
    img {
      height: 40px;
    }
  }
}

.background-none {
  background: none !important;
}

.mainLink {
  position: fixed;
  top: 90%;
  z-index: 999;
  img {
      height: 40px;
  }
}

.director {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 3rem;
  width: 100%;
  &-subheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 0;
    padding-left: 11%;

    h3 {
      color: #fff;
      font-size: 2.7rem;
      font-weight: 300;
      text-decoration: none;
      text-transform: uppercase;
    }
    a {
      color: #fff;
      font-size: 2.7rem;
      font-weight: 300;
      text-decoration: none;
      text-transform: uppercase;
      transition: .25s;
      &:hover {
        color: #F37317;
      }
    }
  }
  &-grid {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 50% 50%;
    height: 100%;
        margin-bottom: 3rem;
    &__item {
      cursor: pointer;
      display: flex;
      position: relative;

      &-hover {
        background: rgba(0,0,0,.65);
        height: 100%;
        position: absolute;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        display: none;
        transition: .25s ease;

        h5 {
          position: absolute;
          top: 50px;
          font-size: 21px;
          text-transform: uppercase;
        }
        img {
          height: 25px;
        }
      }
      #video1 {
        background: url('../images/bg-romay.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus,
        &:active {
          background: none !important;
          outline: none;
        }
      }
      #video2 {
        background: transparent no-repeat url('../images/romay/cover-land.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #video3 {
        background: transparent no-repeat url('../images/romay/cover-prudential.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #video4 {
        background: transparent no-repeat url('../images/romay/cover-segunda.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #video5 {
        background: transparent no-repeat url('../images/romay/cover-montana.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #lubezki1 {
        background: transparent no-repeat url('../images/lubezki/guia.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #lubezki2 {
        background: transparent no-repeat url('../images/lubezki/es-hora.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #lubezki3 {
        background: transparent no-repeat url('../images/lubezki/pizzas.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #lubezki4 {
        background: transparent no-repeat url('../images/lubezki/si-yo-fuera.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #hari1 {
        background: transparent no-repeat url('../images/hari/mercedes.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #hari2 {
        background: transparent no-repeat url('../images/hari/hoteles.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #hari3 {
        background: transparent no-repeat url('../images/hari/modelo.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #hari4 {
        background: transparent no-repeat url('../images/hari/modelo2.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #hari5 {
        background: transparent no-repeat url('../images/hari/modelo3.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #eyzaguirre1 {
        background: transparent no-repeat url('../images/eyzaguirre/ripley.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #eyzaguirre2 {
        background: transparent no-repeat url('../images/eyzaguirre/marco-polo.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #eyzaguirre3 {
        background: transparent no-repeat url('../images/eyzaguirre/jjo.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #eyzaguirre4 {
        background: transparent no-repeat url('../images/eyzaguirre/ripley2.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #eyzaguirre5 {
        background: transparent no-repeat url('../images/eyzaguirre/xem.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #green1 {
        background: transparent no-repeat url('../images/green/bentley.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #green2 {
        background: transparent no-repeat url('../images/green/tag.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #green3 {
        background: transparent no-repeat url('../images/green/cadillac.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #green4 {
        background: transparent no-repeat url('../images/green/mclaren.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #green5 {
        background: transparent no-repeat url('../images/green/jaguar.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #mejia1 {
        background: transparent no-repeat url('../images/mejia/crediamigo.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #mejia2 {
        background: transparent no-repeat url('../images/mejia/pritt.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #mejia3 {
        background: transparent no-repeat url('../images/mejia/coca.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #mejia4 {
        background: transparent no-repeat url('../images/mejia/sephora.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #mejia5 {
        background: transparent no-repeat url('../images/mejia/huggies.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #malet1 {
        background: transparent no-repeat url('../images/malet/att.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #malet2 {
        background: transparent no-repeat url('../images/malet/cinepolis.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #malet3 {
        background: transparent no-repeat url('../images/malet/chevrolet.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #malet4 {
        background: transparent no-repeat url('../images/malet/cre-c.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #malet5 {
        background: transparent no-repeat url('../images/malet/quintonil.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #maiola1 {
        background: transparent no-repeat url('../images/maiola/gillette.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #maiola2 {
        background: transparent no-repeat url('../images/maiola/honda.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #maiola3 {
        background: transparent no-repeat url('../images/maiola/bimbo.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #maiola4 {
        background: transparent no-repeat url('../images/maiola/jgl.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #maiola5 {
        background: transparent no-repeat url('../images/maiola/origen.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;
        &:focus {
          background: none !important;
          outline: none;
        }
      }
    }
  }
}

.director-grid__item:hover .director-grid__item-hover {
  display: flex;
}

@media only screen and (max-width: 700px) {
  .services-header {
    flex-direction: column;
  }
  .services-header__alt {
    position: relative;
    left: auto;
  }
  .services-list h3 {
    font-size: 2rem;
    span a {
      font-size: 1rem;
    }
  }
  .director-grid {
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }
  .director-subheader {
    justify-content: center;
    padding-left: 0;
  }
}
