@import 'fullpage';
@import 'animate';

@font-face {
  font-family: 'RT Alias Grotesk';
  src: url('RTAliasGrotesk-Regular.woff2') format('woff2'),
    url('RTAliasGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RT Alias Grotesk';
  src: url('RTAliasGrotesk-Light.woff2') format('woff2'),
    url('RTAliasGrotesk-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  color: #fff;
  font-family: 'RT Alias Grotesk', sans-serif;
  text-align: center;
}

@mixin anim-filter($filter, $value) {
  -webkit-filter: #{$filter}unquote("(#{$value})");
  -moz-filter: #{$filter}unquote("(#{$value})");
  -ms-filter: #{$filter}unquote("(#{$value})");
  filter: #{$filter}unquote("(#{$value})");
}

@mixin anim-transition($property, $value) {
  -webkit-transition: $property, $value;
  -moz-transition: $property, $value;
  -ms-transition: $property, $value;
  transition: $property, $value;
}

@mixin anim-transform($property, $value) {
  -webkit-transform: #{$property}unquote("(#{$value})");
  -moz-transform: #{$property}unquote("(#{$value})");
  -ms-transform: #{$property}unquote("(#{$value})");
  transform: #{$property}unquote("(#{$value})");
}

.intro-container {
  &__action {
    text-transform: uppercase;

    a {
      color: #fff;
      display: block;
      font-size: 21px;
      margin: 1rem 0;
      text-decoration: none;
    }

    p {
      font-size: 12px;
      opacity: 0.4;
    }
  }

  &__logo {
    margin: 3rem 0;

    svg {
      max-width: 80vw;
      margin-bottom: 2rem;
    }
  }
}

.word-spin {
  margin-top: 0;
  text-align: center;
  list-style: none;
  line-height: 120%;

  &:hover {
    animation: 1s ease 0s normal none infinite change;
    -webkit-animation: 1s ease 0s normal none infinite change;
    -moz-animation: 1s ease 0s normal none infinite change;
    -o-animation: 1s ease 0s normal none infinite change;
  }
}

.word-spin2 {
  margin-top: -50px;
  text-align: center;
  list-style: none infinite;
  line-height: 120%;

  &:hover {
    animation: 1s ease 0s normal none infinite change2;
    -webkit-animation: 1s ease 0s normal none infinite change2;
    -moz-animation: 1s ease 0s normal none infinite change2;
    -o-animation: 1s ease 0s normal none infinite change2;
  }
}

.visible {
  overflow: hidden;
  height: 50px;
}

@keyframes change {
  0% {
    margin-top: 0;
  }

  50% {
    margin-top: -50px;
  }

  100% {
    margin-top: -50px;
  }
}

@keyframes change2 {
  0% {
    margin-top: -50px;
  }

  50% {
    margin-top: 0;
  }

  100% {
    margin-top: 0;
  }
}


path {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 2.5s;
  -moz-animation-duration: 2.5s;
  animation-duration: 2.5s;
}

.one {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.two {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.three {
  -webkit-animation-delay: 0.9s;
  -moz-animation-delay: 0.9s;
  animation-delay: 0.9s;
}

.four {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.five {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.six {
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

.seven {
  -webkit-animation-delay: 2.1s;
  -moz-animation-delay: 2.1s;
  animation-delay: 2.1s;
}

.eight {
  -webkit-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s;
  animation-delay: 2.4s;
}

.nine {
  -webkit-animation-delay: 2.7s;
  -moz-animation-delay: 2.7s;
  animation-delay: 2.7s;
}

.ten {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}

.eleven {
  -webkit-animation-delay: 3.1s;
  -moz-animation-delay: 3.1s;
  animation-delay: 3.1s;
}

.about {
  &-link {
    font-size: 1vw;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.services {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 3rem;
  width: 100%;

  &-columns {
    display: flex;
    text-align: left;
    justify-content: space-between;
    margin-top: 5vw;

    span {
      line-height: 220%;
    }

    a {
      color: #fff;
      text-decoration: none;
      transition: all .25s ease;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
      font-size: 1.6vw !important;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__link {
      color: #fff;
      font-size: 12px;
      font-weight: 300;
      text-decoration: none;
      text-transform: uppercase;
    }

    &__alt {
      position: absolute;
      left: 45%;
    }
  }

  &-logo {
    img {
      height: 40px;
    }
  }

  &-list {
    h3 {
      font-size: 3.6vw;
      font-weight: 300;
      line-height: 140%;
      text-align: left;
    }

    ul {
      color: #fff;
      font-size: 1rem;
      font-weight: 300;
      list-style: none;
      margin-bottom: 3rem;
      text-decoration: none;
      text-transform: uppercase;
    }

    p {
      color: #fff;
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      margin-right: 1rem;
    }
  }
}

.projects {
  align-items: center;
  background: url('../images/2.gif');
  background-size: auto 135% !important;
  background-position: center !important;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  padding: 3rem;
  width: 100%;
  transition: .25s;

  &-list {
    width: 100%;

    &__row ul {
      display: flex;
      list-style: none;
      width: 100%;
      justify-content: space-between;
      margin-bottom: 1rem;
    }

    &__row a {
      color: #fff;
      cursor: pointer;
      font-size: 2.7vw;
      text-decoration: none;
      text-transform: uppercase;
      transition: .25s;

      &:hover {
        color: #F37317;
      }
    }

    &__responsive {
      display: none;
    }
  }

  &-logo {
    margin-top: 2rem;

    img {
      height: 40px;
    }
  }
}

.background-none {
  background: none !important;
}

.mainLink {
  position: fixed;
  top: 90%;
  z-index: 999;
  transform: translateX(-50%);

  img {
    height: 40px;
  }
}

.mainLinkFooter {
  img {
    height: 40px;
  }
}

#desktopGrid {}

.director {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 3rem;
  width: 100%;

  &-subheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 4rem 0;
    padding-left: 11%;

    h3 {
      color: #fff;
      font-size: 2.7rem;
      font-weight: 300;
      text-decoration: none;
      text-transform: uppercase;
    }

    a {
      color: #fff;
      font-size: 2.7rem;
      font-weight: 300;
      text-decoration: none;
      text-transform: uppercase;
      transition: .25s;

      &:hover {
        color: #F37317;
      }
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 50% 50%;
    height: 100%;
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;
    margin-top: 0;
    min-height: 60%;

    &__item {
      cursor: pointer;
      display: flex;
      position: relative;
      height: 200px;

      &-hover {
        background: rgba(0, 0, 0, .65);
        height: 200px;
        position: absolute;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        display: none;
        transition: .25s ease;

        h5 {
          position: absolute;
          top: 50px;
          font-size: 21px;
          text-transform: uppercase;
        }

        img {
          height: 25px;
        }
      }

      #video1 {
        background: url('../images/bg-romay.png');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus,
        &:active {
          background: none !important;
          outline: none;
        }
      }

      #video2 {
        background: transparent no-repeat url('../images/romay/cover-land.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #video3 {
        background: transparent no-repeat url('../images/romay/cover-prudential.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #video4 {
        background: transparent no-repeat url('../images/romay/cover-segunda.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #video5 {
        background: transparent no-repeat url('../images/romay/cover-montana.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #video6 {
        background: transparent no-repeat url('../images/romay/hsbc.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #lubezki1 {
        background: transparent no-repeat url('../images/lubezki/guia.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #lubezki2 {
        background: transparent no-repeat url('../images/lubezki/es-hora.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #lubezki3 {
        background: transparent no-repeat url('../images/lubezki/pizzas.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #lubezki4 {
        background: transparent no-repeat url('../images/lubezki/si-yo-fuera.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #lubezki5 {
        background: transparent no-repeat url('../images/lubezki/sin-delantal.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #hari1 {
        background: transparent no-repeat url('../images/hari/mercedes.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #hari2 {
        background: transparent no-repeat url('../images/hari/hoteles.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #hari3 {
        background: transparent no-repeat url('../images/hari/modelo.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #hari4 {
        background: transparent no-repeat url('../images/hari/modelo2.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #hari5 {
        background: transparent no-repeat url('../images/hari/modelo3.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }
      #hari6 {
        background: transparent no-repeat url('../images/hari/roshfrans.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #eyzaguirre1 {
        background: transparent no-repeat url('../images/eyzaguirre/ripley.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #eyzaguirre2 {
        background: transparent no-repeat url('../images/eyzaguirre/marco-polo.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #eyzaguirre3 {
        background: transparent no-repeat url('../images/eyzaguirre/cusqueno.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #eyzaguirre4 {
        background: transparent no-repeat url('../images/eyzaguirre/ripley2.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #eyzaguirre5 {
        background: transparent no-repeat url('../images/eyzaguirre/galaxy.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #eyzaguirre6 {
        background: transparent no-repeat url('../images/eyzaguirre/falabella.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #green1 {
        background: transparent no-repeat url('../images/green/bentley.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #green2 {
        background: transparent no-repeat url('../images/green/tag.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #green3 {
        background: transparent no-repeat url('../images/green/cadillac.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #green4 {
        background: transparent no-repeat url('../images/green/mclaren.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #green5 {
        background: transparent no-repeat url('../images/green/jaguar.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #green6 {
        background: transparent no-repeat url('../images/green/bridgestone.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #mejia1 {
        background: transparent no-repeat url('../images/mejia/crediamigo.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #mejia2 {
        background: transparent no-repeat url('../images/mejia/pritt.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #mejia3 {
        background: transparent no-repeat url('../images/mejia/coca.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #mejia4 {
        background: transparent no-repeat url('../images/mejia/pullups.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #mejia5 {
        background: transparent no-repeat url('../images/mejia/huggies.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #mejia6 {
        background: transparent no-repeat url('../images/mejia/amortiguadores.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #mejia7 {
        background: transparent no-repeat url('../images/mejia/mercedes.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #malet1 {
        background: transparent no-repeat url('../images/malet/att.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #malet2 {
        background: transparent no-repeat url('../images/malet/cinepolis.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #malet3 {
        background: transparent no-repeat url('../images/malet/chevrolet.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #malet4 {
        background: transparent no-repeat url('../images/malet/cre-c.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #malet5 {
        background: transparent no-repeat url('../images/malet/eos.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #maiola1 {
        background: transparent no-repeat url('../images/maiola/gillette.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #maiola2 {
        background: transparent no-repeat url('../images/maiola/carroceria.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #maiola3 {
        background: transparent no-repeat url('../images/maiola/bimbo.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #maiola4 {
        background: transparent no-repeat url('../images/maiola/jgl.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #maiola5 {
        background: transparent no-repeat url('../images/maiola/origen.png');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }

      #maiola6 {
        background: transparent no-repeat url('../images/maiola/telcel.jpg');
        background-size: cover;
        width: 100%;
        background-position: center;
        object-fit: cover;

        &:focus {
          background: none !important;
          outline: none;
        }
      }
    }
  }
}

.director-grid__item:hover .director-grid__item-hover {
  display: flex;
}

$ani-speed: 2s;
$ani-delay: 1s;


.arrow {
  opacity: 0;
  position: absolute;
  left: 49%;
  transform-origin: 50% 50%;
  transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
  animation: arrow-movement $ani-speed ease-in-out infinite;
}

.arrow-second {
  animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
}

.arrow-first2 {
  animation: arrow-movement2 $ani-speed ease-in-out infinite;
}

.arrow-second2 {
  animation: arrow-movement2 $ani-speed $ani-delay ease-in-out infinite;
}

.arrow:before,
.arrow:after {
  background: #fff;
  content: '';
  display: block;
  height: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
}

.arrow:before {
  transform: rotate(45deg) translateX(-23%);
  transform-origin: top left;
}

.arrow:after {
  transform: rotate(-45deg) translateX(23%);
  transform-origin: top right;
}

.upArrow {
  transform: rotate(180deg);
  left: 51%;
}

.vimeo-launch {
  appearance: none;
  background: none;
  border: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

#vimeo-pop-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999999;

  background: rgba(black, .75);

  div {
    height: 85%;
    width: 100%;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .vimeo-close {
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 10px;
    height: 30px;
    width: 30px;

    position: absolute;
    bottom: 100%;
    right: 20px;

    transition: 200ms background-color;

    &:before,
    &:after {
      content: '';

      background: white;
      border-radius: 3px;

      position: absolute;
      left: 50%;
      top: 50%;
      transform: rotate(45deg);
      transition: 500ms all;
    }

    &:before {
      height: 20px;
      width: 2px;
      margin-left: -1px;
      margin-top: -10px;
    }

    &:after {
      height: 2px;
      width: 20px;
      margin-left: -10px;
      margin-top: -1px;
    }

    &:hover {
      background-color: rgba(black, .25);
    }

    &.closing {
      &:before {
        transform: rotate(450deg);
        margin-left: -2px;
        margin-top: 0;

        animation: close-before 500ms ease 500ms 1 forwards;
      }

      &:after {
        transform: rotate(540deg);
        margin-left: -11px;
        margin-top: -10px;

        animation: close-after 500ms ease 500ms 1 forwards;
      }
    }
  }

  iframe {
    height: 100%;
    width: 100%;
  }
}

#mobileGrid {
  display: none;
}

#desktopDisplay {
  display: flex;
}

#mobileDisplay {
  display: none;
}

@media only screen and (max-width: 700px) {
  #desktopGrid {
    display: none;
  }

  #mobileGrid {
    display: grid;
  }

  #desktopDisplay {
    display: none;
  }

  #mobileDisplay {
    display: block;
  }

  .services-header {
    flex-direction: column;
  }

  .services-header__alt {
    position: relative;
    left: auto;
  }

  .services-list h3 {
    font-size: 2rem;

    span a {
      font-size: .8rem;
    }
  }

  .director {
    height: 100%;
    padding: 3rem 0;
  }

  .director-grid {
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 20%;
  }

  .director-grid-4 {
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 25%;
  }

  .director-grid-6 {
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 16.6%;
  }

  .director-grid__item {
    height: 150px;
  }

  .director-grid__item-hover {
    height: 150px;
  }

  .director-grid__item-hover {
    display: none;
    height: 0;
  }

  .director-grid__item-hover {
    background: rgba(0, 0, 0, .65);
    height: 0;
    position: inherit;
    width: 0;
    display: none;

    h5 {
      display: none;
    }

    img {
      display: none;
    }
  }

  .director-subheader {
    justify-content: center;
    padding-left: 0;
    margin: 2.5rem 0;
  }

  .intro-container__logo {
    margin-top: 2.5rem;
  }

  .intro-container__logo svg {
    margin-bottom: 0;
  }

  .services-columns {
    flex-direction: column;

    p {
      font-size: 1.2rem !important;
      margin-bottom: 1rem;
    }
  }

  .projects-list {
    display: none;
  }

  .projects {
    padding: 0;
    background-size: auto 150% !important;
  }

  .projects-logo {
    padding-bottom: 2rem;
  }

  .projects-list__row ul {
    justify-content: space-around;
  }

  .projects-list__responsive {
    display: block;
    width: 100%;
  }

  .projects-list__row a {
    font-size: 3.5vw;
  }

  .intro {
    .arrowSvg {
      height: 20px;
    }
  }

  .word-spin {
    animation: 1s ease 0s normal none infinite change;
    -webkit-animation: 1s ease 0s normal none infinite change;
    -moz-animation: 1s ease 0s normal none infinite change;
    -o-animation: 1s ease 0s normal none infinite change;
  }

  .word-spin2 {
    animation: 1s ease 0s normal none infinite change2;
    -webkit-animation: 1s ease 0s normal none infinite change2;
    -moz-animation: 1s ease 0s normal none infinite change2;
    -o-animation: 1s ease 0s normal none infinite change2;
  }

  .visible {
    overflow: hidden;
    height: 35px;
  }
}
