---
title: Montserrat Villanueva | Autocinema Ink
---
<div class="director">
  <div class="services-header animated fadeInDown">
    <p><a class="services-header__link" href="https://goo.gl/maps/5XpHfCmTRwZj5n4q7">Ciudad de México</a></p>
    <p class="services-header__alt"><a class="services-header__link" href="mailto:info@autocinemaink.com">info@autocinemaink.com</a></p>
    <p><a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a></p>
  </div>
  <div class="director-subheader animated fadeInDown delay-1s">
    <h3>Montserrat Villanueva</h3>
  </div>

  <div id="desktopGrid" class="director-grid animated fadeInUp delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Liverpool - Días de bebé</h5>
        <button class="vimeo-launch" data-vimeo-id="776291062"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="montserrat1" class="montserrat-1"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Liverpool - Días de bebé 2</h5>
        <button class="vimeo-launch" data-vimeo-id="776291116"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="montserrat2" class="montserrat-2">
      </div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Ricitos de oro</h5>
        <button class="vimeo-launch" data-vimeo-id="776291099"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="montserrat3" class="montserrat-3">
      </div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Liverpool - Días de bebé 3</h5>
        <button class="vimeo-launch" data-vimeo-id="776291088"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="montserrat4" class="montserrat-4">
      </div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Liverpool - Días de bebé 4</h5>
        <button class="vimeo-launch" data-vimeo-id="776291075"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="montserrat5" class="montserrat-5">
      </div>
    </div>

  </div>

  <div id="mobileGrid" class="director-grid animated fadeInUp delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Liverpool - Días de bebé</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="montserrat1" class="montserrat-1" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/776291062/rendition/360p/file.mp4?loc=external&signature=be43e46e0af455068589ba3053da60629c514bd674281989ebd435ae9d4e153a" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Liverpool - Días de bebé 2</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="montserrat2" class="montserrat-2" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/776291116/rendition/360p/file.mp4?loc=external&signature=8c95a719460f6057f04059fa5309779a7f5ccf7172fa0686eb71bb83fec5d18e"  poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Ricitos de oro</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="montserrat3" class="montserrat-3" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/776291099/rendition/720p/file.mp4?loc=external&signature=3296f88d97a407b162d51ac6a50aafcf42ff95a63ccdd85ba8913ce7eddc7ef6" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Liverpool - Días de bebé 3</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="montserrat4" class="montserrat-4" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/776291088/rendition/360p/file.mp4?loc=external&signature=09a8e4ab48330e44339e9b986808bc058e844c96752686e0820d1710e259c1e3" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Liverpool - Días de bebé 4</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="montserrat5" class="montserrat-5" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/776291075/rendition/360p/file.mp4?loc=external&signature=f157962c7d8dc2238227eeece1c5182cd1c58524aae4b24d123b63cf76de7e2f" poster="data:image/gif,AAAA"></video>
    </div>

  </div>
  <a class="mainLinkFooter animated fadeIn" href="/"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a>

</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script type="text/javascript">
    $('body')
  .on('click', '.vimeo-launch', function () {
    var videoID = $(this).data('vimeo-id'),
        $video = '<div id="vimeo-pop-container"><div><span class="vimeo-close"></span><iframe src="https://player.vimeo.com/video/' + videoID + '/?title=1&amp;byline=1&amp;portrait=0&amp;autoplay=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>';
    $('body').append($video);
  } )

  .on('click', '.vimeo-close', function () {
    $(this).addClass('closing');

    $('#vimeo-pop-container').delay(700).animate({
      height: 0,
      top: '50%'
    }, 'fast', function () {
      $('#vimeo-pop-container').remove();
    });
  } );
  </script>

<!-- <script type="text/javascript">
  $(document).ready(function(){
      $('#hari1').click(function(){
        .setAttribute("poster"," ");
        .css("background","none");
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
      });
      $('#hari2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#hari3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#hari4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#hari5').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
   });
</script> -->
