---
title: Hugo Mendui침a | Autocinema Ink
---
<div class="down-arrow"></div>
<div class="services-header animated fadeInDown">
  <p style="text-align: left;"><a class="services-header__link" href="/#proyectos"><span><img height="12" src="/images/back.svg" alt="Autocinema Ink"></span> Go Back</a></p>
  <p><a class="mainLinkFooter animated fadeIn" href="/"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a></p>
  <p style="text-align: right;">
      <a class="services-header__link" href="mailto:info@autocinemaink.com">info@autocinemaink.com</a>
      <br>
      <a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a>
  </p>
</div>
<div class="director-subheader director-hugo">
  <h3 class="animated fadeInDown delay-1s">Hugo Mendui침a</h3>
</div>
<div class="director">
  <div id="desktopGrid" class="director-grid animated fadeIn delay-2s">
    <div class="director-grid__item">
      <div id="video1play" class="director-grid__item-hover hugo1 vimeo-launch" data-vimeo-id="714574448">
        <h5>Viceroy</h5>
        <br>
        <p>Antonio Banderas</p>
      </div>
      <div id="hugo1" class="romay-1"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover hugo6 vimeo-launch" data-vimeo-id="714574123">
        <h5>Audi</h5>
        <br>
        <p>Not all superheroes wear capes</p>
      </div>
      <div id="hugo6" class="romay-2"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover hugo3 vimeo-launch" data-vimeo-id="714574474">
        <h5>Mapfre</h5>
        <br>
        <p>Para Familias De Verdad</p>
      </div>
      <div id="hugo3" class="romay-3"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover hugo4 vimeo-launch" data-vimeo-id="714574395">
        <h5>Verti</h5>
        <br>
        <p>L'assicurazione sempre avant</p>
      </div>
      <div id="hugo4" class="romay-4"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover hugo2 vimeo-launch" data-vimeo-id="714574294">
        <h5>Mc Donald's</h5>
      </div>
      <div id="hugo2" class="romay-6"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover hugo5 vimeo-launch" data-vimeo-id="722716778">
        <h5>Schweppes</h5>
        <br>
        <p>P치rate a Vivir</p>
      </div>
      <div id="hugo5" class="romay-5"></div>
    </div>

  </div>

  <div id="mobileGrid" class="director-grid director-grid-6 animated fadeIn delay-2s">
    <div class="director-grid__item">
      <div id="video1play" class="director-grid__item-hover">
        <h5>Viceroy</h5>
        <br>
        <p>Antonio Banderas</p>
      </div>
      <video id="hugo1" class="romay-1" onclick="this.controls=true;this.poster=false" src="https://player.vimeo.com/progressive_redirect/playback/714574448/rendition/720p/file.mp4?loc=external&signature=1dd966e56aa819bf62547b07d04d23adaa0feaf529c0148ba0996828a0986473" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Audi</h5>
        <br>
        <p>Not all superheroes wear capes</p>
      </div>
      <video id="hugo6" class="romay-2" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/714574123/rendition/720p/file.mp4?loc=external&signature=eda310faa988f9b963d40ac60ae118ddc687040f473b8af4666963d83286e033"  poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Mapfre</h5>
        <br>
        <p>Para Familias De Verdad</p>
      </div>
      <video id="hugo3" class="romay-3" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/714574474/rendition/720p/file.mp4?loc=external&signature=a0e17ccd5493ca85c37d7c9e75f9b18eb350968736255e45fbaac331cb2c963f" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Verti</h5>
        <br>
        <p>L'assicurazione sempre avant</p>
      </div>
      <video id="hugo4" class="romay-4" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/714574395/rendition/720p/file.mp4?loc=external&signature=dfdd46fe2b2fb28847b8c8556b640397028e53069719c0b65de15d83125caaa6" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>McDonalds</h5>
      </div>
      <video id="hugo2" class="romay-6" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/714574294/rendition/720p/file.mp4?loc=external&signature=375cb9342fe478b23494766dd5397385d3466ad6f4abbdeb5be3fba6e6cc9af8" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Schweppes</h5>
        <br>
        <p>P치rate a Vivir</p>
      </div>
      <video id="hugo5" class="romay-5" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/722716778/rendition/720p/file.mp4?loc=external&signature=e071f236bc32b28154b671284f530593299f7165121b0e22ce3b9bd036645b25" poster="data:image/gif,AAAA"></video>
    </div>
  </div>

</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script type="text/javascript">
  $('body')
.on('click', '.vimeo-launch', function () {
  var videoID = $(this).data('vimeo-id'),
      $video = '<div id="vimeo-pop-container"><div><span class="vimeo-close"></span><iframe src="https://player.vimeo.com/video/' + videoID + '/?title=1&amp;byline=1&amp;portrait=0&amp;autoplay=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>';
  $('body').append($video);
} )

.on('click', '.vimeo-close', function () {
  $(this).addClass('closing');

  $('#vimeo-pop-container').delay(700).animate({
    height: 0,
    top: '50%'
  }, 'fast', function () {
    $('#vimeo-pop-container').remove();
  });
} );
</script>

<!-- <script>

  $(document).ready(function(){
    function toggleBg() {
        .toggleClass("collapsed pressed");
        .setAttribute("controls","controls");
        .preventDefault();
    }
    toggleBg();

    $('#video1').live('click', function(e){
       toggleBg();
    });

      $('#video2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         $(this).css("background","none");
      });
      $('#video3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         $(this).css("background","none");
      });
      $('#video4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#video5').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#video6').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $("#video1").click(function(){
        $(this).toggleClass("background-none");
      });
   });

  $(document).ready(function(){

      $('#video2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#video3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         $(this).css("background","none");
      });
      $('#video4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#video5').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $("#video1").click(function(){
        $(this).toggleClass("background-none");
      });
   });

</script> -->
