---
title: Hugo Menduiña | Autocinema Ink
---
<div class="director">
  <div class="services-header animated fadeInDown">
    <p><a class="services-header__link" href="https://goo.gl/maps/5XpHfCmTRwZj5n4q7">Ciudad de México</a></p>
    <p class="services-header__alt"><a class="services-header__link" href="mailto:info@autocinemaink.com">info@autocinemaink.com</a></p>
    <p><a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a></p>
  </div>
  <div class="director-subheader animated fadeInDown delay-1s">
    <h3>Hugo Menduiña</h3>
  </div>
  <div id="desktopGrid" class="director-grid animated fadeInUp delay-2s">
    <div class="director-grid__item">
      <div id="video1play" class="director-grid__item-hover">
        <h5>Viceroy</h5>
        <button class="vimeo-launch" data-vimeo-id="714574448"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="hugo1" class="romay-1"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Audi</h5>
        <button class="vimeo-launch" data-vimeo-id="714574123"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="hugo6" class="romay-2"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Mapfre</h5>
        <button class="vimeo-launch" data-vimeo-id="714574474"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="hugo3" class="romay-3"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Verti</h5>
        <button class="vimeo-launch" data-vimeo-id="714574395"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="hugo4" class="romay-4"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>McDonalds</h5>
        <button class="vimeo-launch" data-vimeo-id="714574294"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="hugo2" class="romay-6"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Schweppes</h5>
        <button class="vimeo-launch" data-vimeo-id="714574334"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="hugo5" class="romay-5"></div>
    </div>

  </div>

  <div id="mobileGrid" class="director-grid director-grid-6 animated fadeInUp delay-2s">
    <div class="director-grid__item">
      <div id="video1play" class="director-grid__item-hover">
        <h5>Viceroy</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="hugo1" class="romay-1" onclick="this.controls=true;this.poster=false" src="https://player.vimeo.com/progressive_redirect/playback/714574448/rendition/720p/file.mp4?loc=external&signature=1dd966e56aa819bf62547b07d04d23adaa0feaf529c0148ba0996828a0986473" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Audi</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="hugo6" class="romay-2" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/714574123/rendition/720p/file.mp4?loc=external&signature=eda310faa988f9b963d40ac60ae118ddc687040f473b8af4666963d83286e033"  poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Mapfre</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="hugo3" class="romay-3" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/714574474/rendition/720p/file.mp4?loc=external&signature=a0e17ccd5493ca85c37d7c9e75f9b18eb350968736255e45fbaac331cb2c963f" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Verti</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="hugo4" class="romay-4" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/714574395/rendition/720p/file.mp4?loc=external&signature=dfdd46fe2b2fb28847b8c8556b640397028e53069719c0b65de15d83125caaa6" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>McDonalds</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="hugo2" class="romay-6" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/714574294/rendition/720p/file.mp4?loc=external&signature=375cb9342fe478b23494766dd5397385d3466ad6f4abbdeb5be3fba6e6cc9af8" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Schweppes</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="hugo5" class="romay-5" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/714574334/rendition/720p/file.mp4?loc=external&signature=48c9447ff83784de7a4d44528234a2857f9349d9f4001959e334e6c06c214594" poster="data:image/gif,AAAA"></video>
    </div>

  </div>
  <a class="mainLinkFooter animated fadeIn" href="/"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a>

</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script type="text/javascript">
  $('body')
.on('click', '.vimeo-launch', function () {
  var videoID = $(this).data('vimeo-id'),
      $video = '<div id="vimeo-pop-container"><div><span class="vimeo-close"></span><iframe src="https://player.vimeo.com/video/' + videoID + '/?title=1&amp;byline=1&amp;portrait=0&amp;autoplay=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>';
  $('body').append($video);
} )

.on('click', '.vimeo-close', function () {
  $(this).addClass('closing');

  $('#vimeo-pop-container').delay(700).animate({
    height: 0,
    top: '50%'
  }, 'fast', function () {
    $('#vimeo-pop-container').remove();
  });
} );
</script>

<!-- <script>

  $(document).ready(function(){
    function toggleBg() {
        .toggleClass("collapsed pressed");
        .setAttribute("controls","controls");
        .preventDefault();
    }
    toggleBg();

    $('#video1').live('click', function(e){
       toggleBg();
    });

      $('#video2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         $(this).css("background","none");
      });
      $('#video3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         $(this).css("background","none");
      });
      $('#video4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#video5').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#video6').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $("#video1").click(function(){
        $(this).toggleClass("background-none");
      });
   });

  $(document).ready(function(){

      $('#video2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#video3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         $(this).css("background","none");
      });
      $('#video4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#video5').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $("#video1").click(function(){
        $(this).toggleClass("background-none");
      });
   });

</script> -->
