---
title: Alex de la Iglesia | Autocinema Ink
---
<div class="down-arrow"></div>
<div class="services-header animated fadeInDown">
  <p style="text-align: left;"><a class="services-header__link" href="/#proyectos"><span><img height="12" src="/images/back.svg" alt="Autocinema Ink"></span> Go Back</a></p>
  <p><a class="mainLinkFooter animated fadeIn" href="/"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a></p>
  <p style="text-align: right;">
      <a class="services-header__link" href="mailto:info@autocinemaink.com">info@autocinemaink.com</a>
      <br>
      <a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a>
  </p>
</div>
<div class="director-subheader director-alex animated fadeInDown delay-1s">
  <h3>Alex de la Iglesia</h3>
</div>
<div class="director">
  <div id="desktopGrid" class="director-grid director-grid-single animated fadeIn delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover iglesia1 vimeo-launch" data-vimeo-id="578114423">
        <h5>Alex de la Iglesia</h5>
        <br>
        <p>Reel Publicitario</p>
      </div>
      <div id="iglesia1" class="iglesia-1"></div>
    </div>
  </div>

  <div id="mobileGrid" class="director-grid director-grid-6 animated fadeIn delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Alex de la Iglesia</h5>
        <br>
        <p>Reel</p>
      </div>
      <video id="iglesia1" class="iglesia-1" onclick="this.controls=true" src="https://player.vimeo.com/external/578114423.hd.mp4?s=5a4375106c188c7d347512dc47a91e4868b6d616&profile_id=175" poster="data:image/gif,AAAA"></video>
    </div>

  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script type="text/javascript">
    $('body')
  .on('click', '.vimeo-launch', function () {
    var videoID = $(this).data('vimeo-id'),
        $video = '<div id="vimeo-pop-container"><div><span class="vimeo-close"></span><iframe src="https://player.vimeo.com/video/' + videoID + '/?title=1&amp;byline=1&amp;portrait=0&amp;autoplay=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>';
    $('body').append($video);
  } )

  .on('click', '.vimeo-close', function () {
    $(this).addClass('closing');

    $('#vimeo-pop-container').delay(700).animate({
      height: 0,
      top: '50%'
    }, 'fast', function () {
      $('#vimeo-pop-container').remove();
    });
  } );
  </script>

<!-- <script type="text/javascript">
  $(document).ready(function(){
      $('#maiola1').click(function(){
        .setAttribute("poster"," ");
        .css("background","none");
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
      });
      $('#maiola2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#maiola3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#maiola4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#maiola5').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#maiola6').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
   });
</script> -->
