---
title: Eduardo Casanova | Autocinema Ink
---
<div class="services-header animated fadeInDown">
  <p style="text-align: left;"><a class="services-header__link" href="/#proyectos"><span><img height="12" src="/images/back.svg" alt="Autocinema Ink"></span> Regresar</a></p>
  <p><a class="mainLinkFooter animated fadeIn" href="/"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a></p>
  <p style="text-align: right;">
      <a class="services-header__link" href="mailto:info@autocinemaink.com">info@autocinemaink.com</a>
      <br>
      <a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a>
  </p>
</div>
<div class="director-subheader director-casanova">
  <h3 class="animated fadeInDown delay-1s">Eduardo Casanova</h3>
</div>
<div class="director">
  <div id="desktopGrid" class="director-grid animated fadeInUp delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover casanova1 vimeo-launch" data-vimeo-id="582622912">
        <h5>General Reel</h5>
      </div>
      <div id="casanova1" class="casanova-1"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover casanova2 vimeo-launch" data-vimeo-id="582620414">
        <h5>Vidal Golosinas</h5>
        <br>
        <p>Dipper Pad</p>
      </div>
      <div id="casanova2" class="casanova-2"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover casanova3 vimeo-launch" data-vimeo-id="582622419">
        <h5>TWYP</h5>
      </div>
      <div id="casanova3" class="casanova-3"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover casanova4 vimeo-launch" data-vimeo-id="582619497">
        <h5>Bimba y Lola</h5>
        <br>
        <p>Episode 1 Dreams</p>
      </div>
      <div id="casanova4" class="casanova-4"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover casanova5 vimeo-launch" data-vimeo-id="582622275">
        <h5>Movistar</h5>
        <br>
        <p>Tuenti 2</p>
      </div>
      <div id="casanova5" class="casanova-5"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover casanova6 vimeo-launch" data-vimeo-id="582630403">
        <h5>Klikin</h5>
      </div>
      <div id="casanova6" class="casanova-6"></div>
    </div>
  </div>

  <div id="mobileGrid" class="director-grid animated fadeInUp delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>General Reel</h5>
      </div>
      <video id="casanova1" class="casanova-1" onclick="this.controls=true" src="https://player.vimeo.com/external/582622912.hd.mp4?s=ff65a47a3b3729e468b33a5157ca1e51003a045d&profile_id=175"  poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Vidal Golosinas</h5>
        <br>
        <p>Dipper Pad</p>
      </div>
      <video id="casanova2" class="casanova-2" onclick="this.controls=true" src="https://player.vimeo.com/external/582620414.hd.mp4?s=e659411b546151228c301f2851e2dfa9b942a08e&profile_id=175" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>TWYP</h5>
      </div>
      <video id="casanova3" class="casanova-3" onclick="this.controls=true" src="https://player.vimeo.com/external/582622419.hd.mp4?s=31540277e4ce7408127afed4b0c347c1acedee27&profile_id=175" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Bimba y Lola</h5>
        <br>
        <p>Episode 1 Dreams</p>
      </div>
      <video id="casanova4" class="casanova-4" onclick="this.controls=true" src="https://player.vimeo.com/external/582619497.hd.mp4?s=06657806741529d974ab7368f44394823f97cd58&profile_id=175" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Movistar</h5>
        <br>
        <p>Tuenti 2</p>
      </div>
      <video id="casanova5" class="casanova-5" onclick="this.controls=true" src="https://player.vimeo.com/external/582622275.hd.mp4?s=11e43e7efa67af08c033ee3b88a9787cf8959281&profile_id=174" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Klikin</h5>        
      </div>
      <video id="casanova6" class="casanova-6" onclick="this.controls=true" src="https://player.vimeo.com/external/582630403.hd.mp4?s=b804220bff70c3e90e125cc4e00b1f201138cb9a&profile_id=174" poster="data:image/gif,AAAA"></video>
    </div>
  </div>

</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script type="text/javascript">
    $('body')
  .on('click', '.vimeo-launch', function () {
    var videoID = $(this).data('vimeo-id'),
        $video = '<div id="vimeo-pop-container"><div><span class="vimeo-close"></span><iframe src="https://player.vimeo.com/video/' + videoID + '/?title=1&amp;byline=1&amp;portrait=0&amp;autoplay=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>';
    $('body').append($video);
  } )

  .on('click', '.vimeo-close', function () {
    $(this).addClass('closing');

    $('#vimeo-pop-container').delay(700).animate({
      height: 0,
      top: '50%'
    }, 'fast', function () {
      $('#vimeo-pop-container').remove();
    });
  } );
  </script>


<!-- <script type="text/javascript">
  $(document).ready(function(){
      $('#mejia1').click(function(){
        .setAttribute("poster"," ");
        .css("background","none");
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
      });
      $('#mejia2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#mejia3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#mejia4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#mejia5').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
   });
</script> -->
