<div class="director">
  <div class="services-header">
    <p><a class="services-header__link" href="https://goo.gl/maps/5XpHfCmTRwZj5n4q7">Colima 162, Col. Roma Norte, CDMX</a></p>
    <p class="services-header__alt"><a class="services-header__link" href="mailto:hola@autocinemaink.com">hola@autocinemaink.com</a></p>
    <p><a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a></p>
  </div>
  <div class="director-subheader">
    <h3>Matías Malet</h3>
    <a href="/#proyectos">Proyectos</a>
  </div>
  <div class="director-grid">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>AT&T</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="malet1" class="malet-1" onclick="this.controls=true" src="/images/malet/att.webm" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Cinepolis</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="malet2" class="malet-2" onclick="this.controls=true" src="/images/malet/cinepolis.webm"  poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Chevrolet</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="malet3" class="malet-3" onclick="this.controls=true" src="/images/malet/chevrolet.webm" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>CRE-C</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="malet4" class="malet-4" onclick="this.controls=true" src="/images/malet/cre-c.webm" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Quintonil</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="malet5" class="malet-5" onclick="this.controls=true" src="/images/malet/quintonil.webm" poster="data:image/gif,AAAA"></video>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>


<script type="text/javascript">
  $(document).ready(function(){
      $('#malet1').click(function(){
        .setAttribute("poster"," ");
        .css("background","none");
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
      });
      $('#malet2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#malet3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#malet4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#malet5').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
   });
</script>
