---
title: Matías Malet | Autocinema Ink
---
<div class="down-arrow"></div>
<div class="services-header animated fadeInDown">
  <p style="text-align: left;"><a class="services-header__link" href="/#proyectos"><span><img height="12" src="/images/back.svg" alt="Autocinema Ink"></span> Go Back</a></p>
  <p><a class="mainLinkFooter animated fadeIn" href="/"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a></p>
  <p style="text-align: right;">
      <a class="services-header__link" href="mailto:info@autocinemaink.com">info@autocinemaink.com</a>
      <br>
      <a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a>
  </p>
</div>
<div class="director-subheader director-malet">
  <h3 class="animated fadeInDown delay-1s">Matías Malet</h3>
</div>
<div class="director">
  <div id="desktopGrid" class="director-grid animated fadeInUp delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover malet1 vimeo-launch" data-vimeo-id="719214901">
        <h5>AT&T</h5>
        <br>
        <p>Futbolito</p>
      </div>
      <div id="malet1" class="malet-1"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover malet3 vimeo-launch" data-vimeo-id="719216816">
        <h5>Chevrolet</h5>
        <br>
        <p>Sonic Bob</p>
      </div>
      <div id="malet3" class="malet-3"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover malet5 vimeo-launch" data-vimeo-id="719214431">
        <h5>EOS</h5>
        <br>
        <p>Orgánico con Belinda</p>
      </div>
      <div id="malet5" class="malet-5"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover malet4 vimeo-launch" data-vimeo-id="719214929">
        <h5>CRE-C</h5>
        <br>
        <p>Shampoo</p>
      </div>
      <div id="malet4" class="malet-4"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover malet2 vimeo-launch" data-vimeo-id="719214945">
        <h5>Cinepolis</h5>
        <br>
        <p>Star Wars</p>
      </div>
      <div id="malet2" class="malet-2"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover malet6 vimeo-launch" data-vimeo-id="719214728">
        <h5>Fifas Bravas</h5>
        <br>
        <p>Documentary Film</p>
      </div>
      <div id="malet6" class="malet-6"></div>
    </div>
  </div>

  <div id="mobileGrid" class="director-grid animated fadeInUp delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>AT&T</h5>
        <br>
        <p>Futbolito</p>
      </div>
      <video id="malet1" class="malet-1" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/719214901/rendition/720p/file.mp4?loc=external&signature=ef2d87d3cafa5ca26673f7ec6ef597e8be662ef9eaba8b3fc7a90e31a9fc578e" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Chevrolet</h5>
        <br>
        <p>Sonic Bob</p>
      </div>
      <video id="malet3" class="malet-3" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/719216816/rendition/720p/file.mp4?loc=external&signature=34f23b57b1a3e0b886c04ac1324b72530e658918597a8f0a8bb648ffe3919e51" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>EOS</h5>
        <br>
        <p>Orgánico con Belinda</p>
      </div>
      <video id="malet5" class="malet-5" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/719214431/rendition/720p/file.mp4?loc=external&signature=9f6eb9efd57d5317c99293f9aed8318e3ea5ebb367421361f70669a53d683e78" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>CRE-C</h5>
        <br>
        <p>Shampoo</p>
      </div>
      <video id="malet4" class="malet-4" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/719214929/rendition/720p/file.mp4?loc=external&signature=b59a1d763189ac22f2ee13fdf1bb26c0d77d13e5fff08b6fff7a1a65dc8d4cbb" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Cinepolis</h5>
        <br>
        <p>Star Wars</p>
      </div>
      <video id="malet2" class="malet-2" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/719214945/rendition/720p/file.mp4?loc=external&signature=424e66f53c1c8e44c83a38f86c63966ce65973e88570a157759378661f387467"  poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Fifa Bravas</h5>
        <br>
        <p>Documentary Film</p>
      </div>
      <video id="malet6" class="malet-6" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/719214728/rendition/720p/file.mp4?loc=external&signature=dcd5a6339a3bc0de17856ce7d80db159334a521e6ce973dcda37d6d692443850" poster="data:image/gif,AAAA"></video>
    </div>
  </div>

</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script type="text/javascript">
    $('body')
  .on('click', '.vimeo-launch', function () {
    var videoID = $(this).data('vimeo-id'),
        $video = '<div id="vimeo-pop-container"><div><span class="vimeo-close"></span><iframe src="https://player.vimeo.com/video/' + videoID + '/?title=1&amp;byline=1&amp;portrait=0&amp;autoplay=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>';
    $('body').append($video);
  } )

  .on('click', '.vimeo-close', function () {
    $(this).addClass('closing');

    $('#vimeo-pop-container').delay(700).animate({
      height: 0,
      top: '50%'
    }, 'fast', function () {
      $('#vimeo-pop-container').remove();
    });
  } );
  </script>

<!-- <script type="text/javascript">
  $(document).ready(function(){
      $('#malet1').click(function(){
        .setAttribute("poster"," ");
        .css("background","none");
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
      });
      $('#malet2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#malet3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#malet4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#malet5').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
   });
</script> -->
