---
title: Matías Malet | Autocinema Ink
---
<div class="director">
  <div class="services-header animated fadeInDown">
    <p><a class="services-header__link" href="https://goo.gl/maps/5XpHfCmTRwZj5n4q7">Ciudad de México</a></p>
    <p class="services-header__alt"><a class="services-header__link" href="mailto:info@autocinemaink.com">info@autocinemaink.com</a></p>
    <p><a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a></p>
  </div>
  <div class="director-subheader animated fadeInDown delay-1s">
    <h3>Matías Malet</h3>
  </div>
  <div id="desktopGrid" class="director-grid animated fadeInUp delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>AT&T</h5>
        <button class="vimeo-launch" data-vimeo-id="376986274"><img src="../images/play.svg" alt=""></button>

      </div>
      <div id="malet1" class="malet-1">

      </div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Cinepolis</h5>
        <button class="vimeo-launch" data-vimeo-id="376986274"><img src="../images/play.svg" alt=""></button>

      </div>
      <div id="malet2" class="malet-2">

      </div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Chevrolet</h5>
        <button class="vimeo-launch" data-vimeo-id="376986284"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="malet3" class="malet-3">

      </div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>CRE-C</h5>
        <button class="vimeo-launch" data-vimeo-id="376986332"><img src="../images/play.svg" alt=""></button>

      </div>
      <div id="malet4" class="malet-4">

      </div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>EOS</h5>
        <button class="vimeo-launch" data-vimeo-id="376986332"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="malet5" class="malet-5">

      </div>
    </div>
  </div>

  <div id="mobileGrid" class="director-grid animated fadeInUp delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>AT&T</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="malet1" class="malet-1" onclick="this.controls=true" src="https://player.vimeo.com/external/376986274.hd.mp4?s=2cc64437536984514e231160b0ae3398a1027a45&profile_id=174" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Cinepolis</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="malet2" class="malet-2" onclick="this.controls=true" src="https://player.vimeo.com/external/376986293.hd.mp4?s=d5c969bec5cfa95abd2a8a0f011f60013d83ead9&profile_id=174"  poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Chevrolet</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="malet3" class="malet-3" onclick="this.controls=true" src="https://player.vimeo.com/external/376986284.hd.mp4?s=958268638090d6c27861a9adf1c651e20e5f59f1&profile_id=174" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>CRE-C</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="malet4" class="malet-4" onclick="this.controls=true" src="https://player.vimeo.com/external/376986332.hd.mp4?s=44c87f8db2cb3065c64fc5a7445927579b2aecac&profile_id=174" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>EOS</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="malet5" class="malet-5" onclick="this.controls=true" src="https://player.vimeo.com/external/376986299.hd.mp4?s=776ed29a37e80cd2e9744729019950a3942e2102&profile_id=174" poster="data:image/gif,AAAA"></video>
    </div>
  </div>
  <a class="mainLinkFooter animated fadeIn" href="/"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a>

</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script type="text/javascript">
    $('body')
  .on('click', '.vimeo-launch', function () {
    var videoID = $(this).data('vimeo-id'),
        $video = '<div id="vimeo-pop-container"><div><span class="vimeo-close"></span><iframe src="https://player.vimeo.com/video/' + videoID + '/?title=1&amp;byline=1&amp;portrait=0&amp;autoplay=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>';
    $('body').append($video);
  } )

  .on('click', '.vimeo-close', function () {
    $(this).addClass('closing');

    $('#vimeo-pop-container').delay(700).animate({
      height: 0,
      top: '50%'
    }, 'fast', function () {
      $('#vimeo-pop-container').remove();
    });
  } );
  </script>

<!-- <script type="text/javascript">
  $(document).ready(function(){
      $('#malet1').click(function(){
        .setAttribute("poster"," ");
        .css("background","none");
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
      });
      $('#malet2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#malet3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#malet4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#malet5').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
   });
</script> -->
