---
title: Arzate | Autocinema Ink
---
<div class="down-arrow"></div>
<div class="services-header animated fadeInDown">
  <p style="text-align: left;"><a class="services-header__link" href="/#proyectos"><span><img height="12" src="/images/back.svg" alt="Autocinema Ink"></span> Go Back</a></p>
  <p><a class="mainLinkFooter animated fadeIn" href="/"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a></p>
  <p style="text-align: right;">
      <a class="services-header__link" href="mailto:info@autocinemaink.com">info@autocinemaink.com</a>
      <br>
      <a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a>
  </p>
</div>
<div class="director-subheader director-arzate animated fadeInDown delay-1s">
  <h3>Arzate</h3>
</div>
<div class="director">
  <div id="desktopGrid" class="director-grid director-grid-single animated fadeIn delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover arzate1 vimeo-launch" data-vimeo-id="1075490723">
        <h5>La Costeña</h5>
        <br>
        <p>100 Años</p>
      </div>
      <div id="arzate1" class="arzate-1"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover arzate2 vimeo-launch" data-vimeo-id="1075490753">
        <h5>Uber</h5>
        <br>
        <p>Family</p>
      </div>
      <div id="arzate2" class="arzate-2"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover arzate3 vimeo-launch" data-vimeo-id="1075491004">
        <h5>BBVA Wallet</h5>
        <br>
        <p>Cafetería</p>
      </div>
      <div id="arzate3" class="arzate-3"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover arzate4 vimeo-launch" data-vimeo-id="1075490790">
        <h5>Nutrisse</h5>
        <br>
        <p>Nuestra Coloración</p>
      </div>
      <div id="arzate4" class="arzate-4"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover arzate5 vimeo-launch" data-vimeo-id="1075491116">
        <h5>Televisa Univisión</h5>
        <br>
        <p>Juego</p>
      </div>
      <div id="arzate5" class="arzate-5"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover arzate6 vimeo-launch" data-vimeo-id="1075490945">
        <h5>La Costeña</h5>
        <br>
        <p>Cuatro Elementos</p>
      </div>
      <div id="arzate6" class="arzate-6"></div>
    </div>
  </div>

  <div id="mobileGrid" class="director-grid director-grid-6 animated fadeIn delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>La Costeña</h5>
        <br>
        <p>100 Años</p>
      </div>
      <video id="arzate1" class="arzate-1" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/1075490723/rendition/720p/file.mp4?loc=external&signature=970e1615661e419b3d957af4c59f90b3334e7a61c4b996076a14daa2567568fa" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Uber</h5>
        <br>
        <p>Family</p>
      </div>
      <video id="arzate2" class="arzate-2" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/1075490753/rendition/1080p/file.mp4?loc=external&signature=6d1e94464dbaa0910e2f65f8093f9c5c32cb17a553f98b9a713fb148d75c9dc9"  poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>BBVA Wallet</h5>
        <br>
        <p>Cafetería</p>
      </div>
      <video id="arzate3" class="arzate-3" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/1075491004/rendition/1080p/file.mp4?loc=external&signature=ccd88fc9fc48fe972196f09e02ff810dc67522a61abbafaa77da921b12545243" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Nutrisse</h5>
        <br>
        <p>Nuestra Coloración</p>
      </div>
      <video id="arzate4" class="arzate-4" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/1075490790/rendition/1080p/file.mp4?loc=external&signature=cbe8bdbec73b189bf445d950a63c9e54390d2fa917d4b52dbc70b6b2154baf22" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Televisa Univisión</h5>
        <br>
        <p>Juego</p>
      </div>
      <video id="arzate5" class="arzate-5" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/1075491116/rendition/720p/file.mp4?loc=external&signature=6ef3cd03030b9301567d5f890afd9536523a1f7f4073c5049db47f1c8d08a2c5" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>La Costeña</h5>
        <br>
        <p>Cuatro Elementos</p>
      </div>
      <video id="arzate6" class="arzate-6" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/1075490945/rendition/1080p/file.mp4?loc=external&signature=88bc4408de2ab3be45ee40018172e0fe23acbe23beef4f1d77d5df4f6dc10d92" poster="data:image/gif,AAAA"></video>
    </div>

  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script type="text/javascript">
    $('body')
  .on('click', '.vimeo-launch', function () {
    var videoID = $(this).data('vimeo-id'),
        $video = '<div id="vimeo-pop-container"><div><span class="vimeo-close"></span><iframe src="https://player.vimeo.com/video/' + videoID + '/?title=1&amp;byline=1&amp;portrait=0&amp;autoplay=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>';
    $('body').append($video);
  } )

  .on('click', '.vimeo-close', function () {
    $(this).addClass('closing');

    $('#vimeo-pop-container').delay(700).animate({
      height: 0,
      top: '50%'
    }, 'fast', function () {
      $('#vimeo-pop-container').remove();
    });
  } );
  </script>

<!-- <script type="text/javascript">
  $(document).ready(function(){
      $('#maiola1').click(function(){
        .setAttribute("poster"," ");
        .css("background","none");
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
      });
      $('#maiola2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#maiola3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#maiola4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#maiola5').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#maiola6').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
   });
</script> -->
