---
title: Pipe Ybarra | Autocinema Ink
---
<div class="down-arrow"></div>
<div class="services-header animated fadeInDown">
  <p style="text-align: left;"><a class="services-header__link" href="/#proyectos"><span><img height="12" src="/images/back.svg" alt="Autocinema Ink"></span> Go Back</a></p>
  <p><a class="mainLinkFooter animated fadeIn" href="/"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a></p>
  <p style="text-align: right;">
      <a class="services-header__link" href="mailto:info@autocinemaink.com">info@autocinemaink.com</a>
      <br>
      <a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a>
  </p>
</div>
<div class="director-subheader director-pipe">
  <h3 class="animated fadeInDown delay-1s">Pipe Ybarra</h3>
</div>
<div class="director">
  <div id="desktopGrid" class="director-grid animated fadeIn delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover pipe1 vimeo-launch" data-vimeo-id="853093150">
        <h5>HSBC</h5>
        <br>
        <p>Zero con Diego Luna</p>
      </div>
      <div id="pipe1" class="pipe-1"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover pipe2 vimeo-launch" data-vimeo-id="853095266">
        <h5>VIX / LA NOCHE DEL DIABLITO</h5>
        <br>
        <p>Trailer Temporada 2</p>
      </div>
      <div id="pipe2" class="pipe-2">
      </div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover pipe3 vimeo-launch" data-vimeo-id="853094905">
        <h5>Citibanamex</h5>
        <br>
        <p>Buen Fin con Diego Boneta</p>
      </div>
      <div id="pipe3" class="pipe-3">
      </div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover pipe4 vimeo-launch" data-vimeo-id="853093663">
        <h5>Banorte</h5>
        <br>
        <p>Selecci칩n Nacional</p>
      </div>
      <div id="pipe4" class="pipe-4">
      </div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover pipe5 vimeo-launch" data-vimeo-id="853098584">
        <h5>Citibanamex</h5>
        <br>
        <p>135 a침os</p>
      </div>
      <div id="pipe5" class="pipe-5">
      </div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover pipe6 vimeo-launch" data-vimeo-id="853094698">
        <h5>Colgate</h5>
        <br>
        <p>Ballerina</p>
      </div>
      <div id="pipe6" class="pipe-6">
      </div>
    </div>
  </div>

  <div id="mobileGrid" class="director-grid animated fadeIn delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>HSBC</h5>
        <br>
        <p>Zero con Diego Luna</p>
      </div>
      <video id="pipe1" class="pipe-1" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/853093150/rendition/720p/file.mp4?loc=external&signature=24a0a4463e392afaa2f602bcdb87b53e0fb8c10378fa9c758c96c1a25dc26fff" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>VIX / LA NOCHE DEL DIABLITO</h5>
        <br>
        <p>Trailer Temporada 2</p>
      </div>
      <video id="pipe2" class="pipe-2" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/853095266/rendition/720p/file.mp4?loc=external&signature=49d67d5882fa4a1ec61353d89b89f28cd3af81749535a26d7bc10ddd0f2cde40"  poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Citibanamex</h5>
        <br>
        <p>Buen Fin con Diego Boneta</p>
      </div>
      <video id="pipe3" class="pipe-3" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/853094905/rendition/720p/file.mp4?loc=external&signature=7ece04b03693a311e3ddb22ced269f582896246ed57fe7dc265503e3b3d8a210" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Banorte</h5>
        <br>
        <p>Selecci칩n Nacional</p>
      </div>
      <video id="pipe4" class="pipe-4" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/853093663/rendition/720p/file.mp4?loc=external&signature=0a6e3b160ca3ae6458de4302071245087e5bc8ec7271d314f0510c0a3d596196" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Citibanamex</h5>
        <br>
        <p>135 a침os</p>
      </div>
      <video id="pipe5" class="pipe-5" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/853098584/rendition/720p/file.mp4?loc=external&signature=262552fd08f7d4991366895e5c3ae665ef510d0f03d7701f3e0c078b660078cc" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Colgate</h5>
        <br>
        <p>Ballerina</p>
      </div>
      <video id="pipe6" class="pipe-6" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/853094698/rendition/540p/file.mp4?loc=external&signature=cad9e4a3559f9acc70bcfe305e267248515863a84c03e6988b61bfe2c60b43f3" poster="data:image/gif,AAAA"></video>
    </div>

  </div>

</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script type="text/javascript">
    $('body')
  .on('click', '.vimeo-launch', function () {
    var videoID = $(this).data('vimeo-id'),
        $video = '<div id="vimeo-pop-container"><div><span class="vimeo-close"></span><iframe src="https://player.vimeo.com/video/' + videoID + '/?title=1&amp;byline=1&amp;portrait=0&amp;autoplay=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>';
    $('body').append($video);
  } )

  .on('click', '.vimeo-close', function () {
    $(this).addClass('closing');

    $('#vimeo-pop-container').delay(700).animate({
      height: 0,
      top: '50%'
    }, 'fast', function () {
      $('#vimeo-pop-container').remove();
    });
  } );
  </script>

<!-- <script type="text/javascript">
  $(document).ready(function(){
      $('#hari1').click(function(){
        .setAttribute("poster"," ");
        .css("background","none");
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
      });
      $('#hari2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#hari3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#hari4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#hari5').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
   });
</script> -->
