---
title: Lorena de la Teja | Autocinema Ink
---
<div class="down-arrow"></div>
<div class="services-header animated fadeInDown">
  <p style="text-align: left;"><a class="services-header__link" href="/#proyectos"><span><img height="12" src="/images/back.svg" alt="Autocinema Ink"></span> Go Back</a></p>
  <p><a class="mainLinkFooter animated fadeIn" href="/"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a></p>
  <p style="text-align: right;">
      <a class="services-header__link" href="mailto:info@autocinemaink.com">info@autocinemaink.com</a>
      <br>
      <a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a>
  </p>
</div>
<div class="director-subheader director-lorena">
  <h3 class="animated fadeInDown delay-1s">Lorena de la Teja</h3>
</div>
<div class="director">
  <div id="desktopGrid" class="director-grid animated fadeInUp delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover lorena1 vimeo-launch" data-vimeo-id="864149218">
        <h5>Best Buy</h5>
        <br>
        <p>Stranger Things</p>
      </div>
      <div id="lorena1" class="lorena-4"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover lubezki6 vimeo-launch" data-vimeo-id="864147884">
        <h5>Pandora</h5>
        <br>
        <p>With Ludmilla</p>
      </div>
      <div id="lorena2" class="lorena2"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover lubezki5 vimeo-launch" data-vimeo-id="864150076">
        <h5>GNC</h5>
        <br>
        <p>Suspiros</p>
      </div>
      <div id="lorena3" class="lorena-3"></div>
    </div>

    <div class="director-grid__item">
      <div class="director-grid__item-hover lorena1 vimeo-launch" data-vimeo-id="864151873">
        <h5>SYNCOL</h5>
        <br>
        <p>Cambiemos Lo Esperado</p>
      </div>
      <div id="lorena4" class="lorena-4"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover lubezki6 vimeo-launch" data-vimeo-id="864153256">
        <h5>She Glam</h5>
        <br>
        <p>Insta Ready</p>
      </div>
      <div id="lorena5" class="lorena5"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover lubezki5 vimeo-launch" data-vimeo-id="864153175">
        <h5>Pandora</h5>
        <br>
        <p>San Valentín con Danna Paola</p>
      </div>
      <div id="lorena6" class="lorena-6"></div>
    </div>
    
  </div>



  <div id="mobileGrid" class="director-grid director-grid-4 animated fadeInUp delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Best Buy</h5>
        <br>
        <p>Stranger Things</p>
      </div>
      <video id="lorena1" class="lorena1" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/864149218/rendition/720p/file.mp4?loc=external&signature=519936070e5ff64d1448a2e6cb599f144b31641f75140dfe0b6671f1946f83d7" poster="data:image/gif,AAAA"></video>
    </div>

    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Pandora</h5>
        <br>
        <p>with Ludmilla</p>
      </div>
      <video id="lorena2" class="lorena-2" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/864147884/rendition/720p/file.mp4?loc=external&signature=f03eb0955e88fd5023ac48c7a7ed8cb8a33455cff853362d932de3348eefcaee" poster="data:image/gif,AAAA" type="video/mp4"></video>
    </div>

    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>GNC</h5>
        <br>
        <p>Suspiros</p>
      </div>
      <video id="lorena3" class="lorena-3" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/864150076/rendition/720p/file.mp4?loc=external&signature=0b75b3cf945ae74611d266a3429ffa108d22e4a5794fa3dd57d4eb549b1ba764" poster="data:image/gif,AAAA"></video>
    </div>

    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>SYNCOL</h5>
        <br>
        <p>Cambiemos lo Esperadoo</p>
      </div>
      <video id="lorena4" class="lorena4" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/864151873/rendition/720p/file.mp4?loc=external&signature=5213d1d52692f7abb46a5e129b4d134b82dc6a48df86ac7a915358bfd63872ca" poster="data:image/gif,AAAA"></video>
    </div>

    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>She Glam</h5>
        <br>
        <p>Insta Ready</p>
      </div>
      <video id="lorena5" class="lorena-5" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/864153256/rendition/720p/file.mp4?loc=external&signature=f01f533686f93a82f0ba1f99292e27ec2f844cfc25d36f26693bc7abc56ae675" poster="data:image/gif,AAAA" type="video/mp4"></video>
    </div>

    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Pandora</h5>
        <br>
        <p>San Valentín con Danna Paola</p>
      </div>
      <video id="lorena6" class="lorena-6" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/864153175/rendition/720p/file.mp4?loc=external&signature=626996dc76ee3cc445dba9ec3c83caa928e6c299e94adb75b0698aafb1fe297c" poster="data:image/gif,AAAA"></video>
    </div>
    

  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script type="text/javascript">
  $('body')
.on('click', '.vimeo-launch', function () {
  var videoID = $(this).data('vimeo-id'),
      $video = '<div id="vimeo-pop-container"><div><span class="vimeo-close"></span><iframe src="https://player.vimeo.com/video/' + videoID + '/?title=1&amp;byline=1&amp;portrait=0&amp;autoplay=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>';
  $('body').append($video);
} )

.on('click', '.vimeo-close', function () {
  $(this).addClass('closing');

  $('#vimeo-pop-container').delay(700).animate({
    height: 0,
    top: '50%'
  }, 'fast', function () {
    $('#vimeo-pop-container').remove();
  });
} );
</script>


<!-- <script type="text/javascript">
  $(document).ready(function(){
      $('#lubezki1').click(function(){
        .setAttribute("poster"," ");
        .css("background","none");
        .play()
         // $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
      });
      $('#lubezki2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#lubezki3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#lubezki4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
   });
</script> -->
