---
title: Callan Green | Autocinema Ink
---
<a class="mainLink" href="/"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a>
<div class="director">
  <div class="services-header">
    <p><a class="services-header__link" href="https://goo.gl/maps/5XpHfCmTRwZj5n4q7">Colima 162, Col. Roma Norte, CDMX</a></p>
    <p class="services-header__alt"><a class="services-header__link" href="mailto:hola@autocinemaink.com">hola@autocinemaink.com</a></p>
    <p><a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a></p>
  </div>
  <div class="director-subheader">
    <h3>Callan Green</h3>
  </div>
  <div class="director-grid">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Bentley</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="green1" class="green-1" onclick="this.controls=true" src="https://player.vimeo.com/external/376975647.hd.mp4?s=10249655ccde897084a535f73de30034375eae9d&profile_id=174" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Tag Heuer</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="green2" class="green-2" onclick="this.controls=true" src="https://player.vimeo.com/external/376975683.hd.mp4?s=f1c2cf240cbce7646f68588db1d21e41933e4ffb&profile_id=174"  poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Cadillac</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="green3" class="green-3" onclick="this.controls=true" src="https://player.vimeo.com/external/376975658.sd.mp4?s=3d5b15d6dbad21c2734c2fe7e885dade309a99b4&profile_id=165" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>McLaren</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="green4" class="green-4" onclick="this.controls=true" src="https://player.vimeo.com/external/376975676.hd.mp4?s=3e20ef95279e14c442eafb0404f322a22ea2beb3&profile_id=174" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Jaguar</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="green5" class="green-5" onclick="this.controls=true" src="https://player.vimeo.com/external/376975671.hd.mp4?s=5a05fcd9d1a3136cb5f497f733b718c6cb6d1042&profile_id=174" poster="data:image/gif,AAAA"></video>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>


<script type="text/javascript">
  $(document).ready(function(){
      $('#green1').click(function(){
        .setAttribute("poster"," ");
        .css("background","none");
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
      });
      $('#green2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#green3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#green4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#green5').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
   });
</script>
