---
title: Hernán Almar | Autocinema Ink
---
<div class="director">
  <div class="services-header animated fadeInDown">
    <p><a class="services-header__link" href="https://goo.gl/maps/5XpHfCmTRwZj5n4q7">Colima 162, Col. Roma Norte, CDMX</a></p>
    <p class="services-header__alt"><a class="services-header__link" href="mailto:info@autocinemaink.com">info@autocinemaink.com</a></p>
    <p><a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a></p>
  </div>
  <div class="director-subheader animated fadeInDown delay-1s">
    <h3>Hernán Almar</h3>
  </div>
  <div id="desktopGrid" class="director-grid animated fadeInUp delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Aeromexico</h5>
        <button class="vimeo-launch" data-vimeo-id="578117162"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="almar1" class="almar-1">

      </div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Sprite</h5>
        <button class="vimeo-launch" data-vimeo-id="578118504"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="almar2" class="almar-2">

      </div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Ford</h5>
        <button class="vimeo-launch" data-vimeo-id="578140710"><img src="../images/play.svg" alt=""></button>

      </div>
      <div id="almar3" class="almar-3">

      </div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Telcel</h5>
        <button class="vimeo-launch" data-vimeo-id="578119118"><img src="../images/play.svg" alt=""></button>

      </div>
      <div id="almar4" class="almar-4">

      </div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Coca Cola</h5>
        <button class="vimeo-launch" data-vimeo-id="376980117"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="almar5" class="almar-5">

      </div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Terra</h5>
        <button class="vimeo-launch" data-vimeo-id="578140889"><img src="../images/play.svg" alt=""></button>

      </div>
      <div id="almar7" class="almar-7">

      </div>
    </div>
  </div>

  <div id="mobileGrid" class="director-grid director-grid-6 animated fadeInUp delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Aeromexico</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="almar1" class="almar-1" onclick="this.controls=true" src="https://player.vimeo.com/external/578117162.hd.mp4?s=e9cf424e563295c8db7f3343bf7e283910bb8a67&profile_id=175" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Sprite</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="almar2" class="almar-2" onclick="this.controls=true" src="https://player.vimeo.com/external/578118504.hd.mp4?s=58a3abdd7b1c522a57c59d6cfa1092f73264e80a&profile_id=174"  poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Ford</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="almar3" class="almar-3" onclick="this.controls=true" src="https://player.vimeo.com/external/578140710.hd.mp4?s=3dda5cf1fce7a128b80e1eae9c681f8bdab40807&profile_id=175" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Telcel</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="almar4" class="almar-4" onclick="this.controls=true" src="https://player.vimeo.com/external/578141143.hd.mp4?s=05a9ce7c998233b83fcdb73f8232ce27bb541483&profile_id=175" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Coca Cola</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="almar5" class="almar-5" onclick="this.controls=true" src="https://player.vimeo.com/external/578119118.hd.mp4?s=bd610dc232538960f773d8ba661b3476b41ba304&profile_id=174" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Terra</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="almar7" class="almar-7" onclick="this.controls=true" src="https://player.vimeo.com/external/578140889.hd.mp4?s=236eef38ff7942ecbb22d79a6a33f017b961ad6d&profile_id=175" poster="data:image/gif,AAAA"></video>
    </div>
  </div>
  <a class="mainLinkFooter animated fadeIn" href="/"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a>

</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script type="text/javascript">
    $('body')
  .on('click', '.vimeo-launch', function () {
    var videoID = $(this).data('vimeo-id'),
        $video = '<div id="vimeo-pop-container"><div><span class="vimeo-close"></span><iframe src="https://player.vimeo.com/video/' + videoID + '/?title=1&amp;byline=1&amp;portrait=0&amp;autoplay=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>';
    $('body').append($video);
  } )

  .on('click', '.vimeo-close', function () {
    $(this).addClass('closing');

    $('#vimeo-pop-container').delay(700).animate({
      height: 0,
      top: '50%'
    }, 'fast', function () {
      $('#vimeo-pop-container').remove();
    });
  } );
  </script>

<!-- <script type="text/javascript">
  $(document).ready(function(){
      $('#maiola1').click(function(){
        .setAttribute("poster"," ");
        .css("background","none");
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
      });
      $('#maiola2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#maiola3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#maiola4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#maiola5').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#maiola6').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
   });
</script> -->
