---
title: Eric Mejía | Autocinema Ink
---
<div class="director">
  <div class="services-header animated fadeInDown">
    <p><a class="services-header__link" href="https://goo.gl/maps/5XpHfCmTRwZj5n4q7">Colima 162, Col. Roma Norte, CDMX</a></p>
    <p class="services-header__alt"><a class="services-header__link" href="mailto:info@autocinemaink.com">info@autocinemaink.com</a></p>
    <p><a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a></p>
  </div>
  <div class="director-subheader animated fadeInDown delay-1s">
    <h3>Eric Mejía</h3>
  </div>

  <div id="desktopGrid" class="director-grid animated fadeInUp delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Pritt</h5>
        <button class="vimeo-launch" data-vimeo-id="377083468"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="mejia2" class="mejia-2"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Mercedes Benz</h5>
        <button class="vimeo-launch" data-vimeo-id="438582072"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="mejia7" class="mejia-7"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Totalplay</h5>
        <button class="vimeo-launch" data-vimeo-id="377083367"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="mejia3" class="mejia-3"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Volkswagen</h5>
        <button class="vimeo-launch" data-vimeo-id="441890330"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="mejia10" class="mejia-10"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Papa Johns</h5>
        <button class="vimeo-launch" data-vimeo-id="451663679"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="mejia9" class="mejia-9"></div>
    </div>
    
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Inter</h5>
        <button class="vimeo-launch" data-vimeo-id="441888312"><img src="../images/play.svg" alt=""></button>
      </div>
      <div id="mejia6" class="mejia-6"></div>
    </div>
  </div>

  <div id="mobileGrid" class="director-grid animated fadeInUp delay-2s">
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Pritt</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="mejia2" class="mejia-2" onclick="this.controls=true" src="https://player.vimeo.com/external/377083468.hd.mp4?s=d80d0d921b8fec9de3208284ecc9ac86d8b25a2f&profile_id=174"  poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Mercedes Benz</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="mejia7" class="mejia-7" onclick="this.controls=true" src="https://player.vimeo.com/external/438582072.hd.mp4?s=61a04aca4567d973ab54dd8aebdfc055d5401b8e&profile_id=175" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Totalplay</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="mejia3" class="mejia-3" onclick="this.controls=true" src="https://player.vimeo.com/external/578166929.hd.mp4?s=db40d5ad86da8be84fb241396bbf267330100057&profile_id=175" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Volkswagen</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="mejia10" class="mejia-10" onclick="this.controls=true" src="https://player.vimeo.com/external/441890330.hd.mp4?s=6d3731401dca0b3668bdc41571c98b061f5ad565&profile_id=175" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Papa Johns</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="mejia9" class="mejia-9" onclick="this.controls=true" src="https://player.vimeo.com/external/451663679.hd.mp4?s=b4143c2f8e8bd9a66967f7851f86cab9212fe9f1&profile_id=175" poster="data:image/gif,AAAA"></video>
    </div>
    
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Inter</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="mejia6" class="mejia-6" onclick="this.controls=true" src="https://player.vimeo.com/external/578174100.hd.mp4?s=957953fde74b1d34db09530f64d50830244f838f&profile_id=175" poster="data:image/gif,AAAA"></video>
    </div>
  </div>
  <a class="mainLinkFooter animated fadeIn" href="/"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a>

</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

  <script type="text/javascript">
    $('body')
  .on('click', '.vimeo-launch', function () {
    var videoID = $(this).data('vimeo-id'),
        $video = '<div id="vimeo-pop-container"><div><span class="vimeo-close"></span><iframe src="https://player.vimeo.com/video/' + videoID + '/?title=1&amp;byline=1&amp;portrait=0&amp;autoplay=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>';
    $('body').append($video);
  } )

  .on('click', '.vimeo-close', function () {
    $(this).addClass('closing');

    $('#vimeo-pop-container').delay(700).animate({
      height: 0,
      top: '50%'
    }, 'fast', function () {
      $('#vimeo-pop-container').remove();
    });
  } );
  </script>


<!-- <script type="text/javascript">
  $(document).ready(function(){
      $('#mejia1').click(function(){
        .setAttribute("poster"," ");
        .css("background","none");
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
      });
      $('#mejia2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#mejia3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#mejia4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#mejia5').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
   });
</script> -->
