---
title: David Romay | Autocinema Ink
---
<a class="mainLink" href="/"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a>
<div class="director">
  <div class="services-header">
    <p><a class="services-header__link" href="https://goo.gl/maps/5XpHfCmTRwZj5n4q7">Colima 162, Col. Roma Norte, CDMX</a></p>
    <p class="services-header__alt"><a class="services-header__link" href="mailto:hola@autocinemaink.com">hola@autocinemaink.com</a></p>
    <p><a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a></p>
  </div>
  <div class="director-subheader">
    <h3>David Romay</h3>
  </div>
  <div class="director-grid">
    <div class="director-grid__item">
      <div id="video1play" class="director-grid__item-hover">
        <h5>Club América</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="video1" class="romay-1" onclick="this.controls=true;this.poster=false" src="https://player.vimeo.com/external/376977396.hd.mp4?s=167a1297ace8d9ae32f729ed91fe3bcd506c7dbe&profile_id=174" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Land Rover</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="video2" class="romay-2" onclick="this.controls=true" src="https://player.vimeo.com/external/376977668.hd.mp4?s=8cb5626ae2b64e17c470e33864226d012a5b1aae&profile_id=174"  poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Prudential</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="video3" class="romay-3" onclick="this.controls=true" src="https://player.vimeo.com/external/376977991.hd.mp4?s=ac9abb70c3104a536c07eb67d41979ac544a451b&profile_id=174" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Segunda Mano</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="video4" class="romay-4" onclick="this.controls=true" src="https://player.vimeo.com/external/376979374.hd.mp4?s=4a3374bc89c71779b219d59da608bd15591f5bbc&profile_id=174" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Detrás de la Montaña</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="video5" class="romay-5" onclick="this.controls=true" src="https://player.vimeo.com/external/376979437.hd.mp4?s=99830c487c5d6d412fb9437d5d1ba5785d3750b8&profile_id=174" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>HSBC</h5>
        <img src="../images/play.svg" alt="">
      </div>
      <video id="video6" class="romay-6" onclick="this.controls=true" src="https://player.vimeo.com/external/376977648.hd.mp4?s=cb023cbdf0b8b9907eb4b00cdaae5884c91b7f7b&profile_id=174" poster="data:image/gif,AAAA"></video>
    </div>
  </div>
</div>

<%= javascript_include_tag "jquery" %>


<script>

  $(document).ready(function(){
    function toggleBg() {
        .toggleClass("collapsed pressed");
        .setAttribute("controls","controls");
        .preventDefault();
    }
    toggleBg();

    $('#video1').live('click', function(e){
       toggleBg();
    });

      $('#video2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         $(this).css("background","none");
      });
      $('#video3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         $(this).css("background","none");
      });
      $('#video4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#video5').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#video6').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $("#video1").click(function(){
        $(this).toggleClass("background-none");
      });
   });

  $(document).ready(function(){

      $('#video2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#video3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         $(this).css("background","none");
      });
      $('#video4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#video5').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $("#video1").click(function(){
        $(this).toggleClass("background-none");
      });
   });

</script>
