---
title: David Romay | Autocinema Ink
---
<div class="services-header animated fadeInDown">
  <p style="text-align: left;"><a class="services-header__link" href="/#proyectos"><span><img height="12" src="/images/back.svg" alt="Autocinema Ink"></span> Regresar</a></p>
  <p><a class="mainLinkFooter animated fadeIn" href="/"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a></p>
  <p style="text-align: right;">
      <a class="services-header__link" href="mailto:info@autocinemaink.com">info@autocinemaink.com</a>
      <br>
      <a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a>
  </p>
</div>
<div class="director-subheader director-romay">
  <h3 class="animated fadeInDown delay-1s">David Romay</h3>
</div>
<div class="director">
  <div id="desktopGrid" class="director-grid animated fadeInUp delay-2s">
    <div class="director-grid__item">
      <div id="video1play" class="director-grid__item-hover video1 vimeo-launch" data-vimeo-id="438597318">
        <h5>Club América</h5>
        <br>
        <p>Institucional</p>
      </div>
      <div id="video1" class="romay-1"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover video6 vimeo-launch" data-vimeo-id="714526564">
        <h5>Telcel</h5>
        <br>
        <p>Jóvenes</p>
      </div>
      <div id="video6" class="romay-6"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover video3 vimeo-launch" data-vimeo-id="376977991">
        <h5>Prudential</h5>
        <br>
        <p>Libertad</p>
      </div>
      <div id="video3" class="romay-3"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover video4 vimeo-launch" data-vimeo-id="376979374">
        <h5>Segunda Mano</h5>
        <br>
        <p>Lampara</p>
      </div>
      <div id="video4" class="romay-4"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover video5 vimeo-launch"  data-vimeo-id="376979437">
        <h5>Detrás de la Montaña</h5>
        <br>
        <p>Teaser</p>
      </div>
      <div id="video5" class="romay-5"></div>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover video2 vimeo-launch" data-vimeo-id="376977668">
        <h5>Land Rover</h5>
        <br>
        <p>1m</p>
      </div>
      <div id="video2" class="romay-2"></div>
    </div>
  </div>
  <div id="mobileGrid" class="director-grid director-grid-6 animated fadeInUp delay-2s">
    <div class="director-grid__item">
      <div id="video1play" class="director-grid__item-hover">
        <h5>Club América</h5>
        <br>
        <p>Institucional</p>
      </div>
      <video id="video1" class="romay-1" onclick="this.controls=true;this.poster=false" src="https://player.vimeo.com/external/438597318.hd.mp4?s=7d9f995824d78b6e6108871ecaf6ae8c6da17ace&profile_id=175" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Telcel</h5>
        <br>
        <p>Jóvenes</p>
      </div>
      <video id="video6" class="romay-6" onclick="this.controls=true" src="https://player.vimeo.com/progressive_redirect/playback/714526564/rendition/1080p/file.mp4?loc=external&signature=f052f14ac896289e72cde96c73e44f99991599030c83361749048db68d28237b" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Prudential</h5>
        <br>
        <p>Libertad</p>
      </div>
      <video id="video3" class="romay-3" onclick="this.controls=true" src="https://player.vimeo.com/external/376977991.hd.mp4?s=ac9abb70c3104a536c07eb67d41979ac544a451b&profile_id=174" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Segunda Mano</h5>
        <br>
        <p>Lampara</p>
      </div>
      <video id="video4" class="romay-4" onclick="this.controls=true" src="https://player.vimeo.com/external/376979374.hd.mp4?s=4a3374bc89c71779b219d59da608bd15591f5bbc&profile_id=174" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Detrás de la Montaña</h5>
        <br>
        <p>Teaser</p>
      </div>
      <video id="video5" class="romay-5" onclick="this.controls=true" src="https://player.vimeo.com/external/376979437.hd.mp4?s=99830c487c5d6d412fb9437d5d1ba5785d3750b8&profile_id=174" poster="data:image/gif,AAAA"></video>
    </div>
    <div class="director-grid__item">
      <div class="director-grid__item-hover">
        <h5>Land Rover</h5>
        <br>
        <p>1m</p>
      </div>
      <video id="video2" class="romay-2" onclick="this.controls=true" src="https://player.vimeo.com/external/376977668.hd.mp4?s=8cb5626ae2b64e17c470e33864226d012a5b1aae&profile_id=174"  poster="data:image/gif,AAAA"></video>
    </div>
  </div>
</div>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script type="text/javascript">
  $('body')
.on('click', '.vimeo-launch', function () {
  var videoID = $(this).data('vimeo-id'),
      $video = '<div id="vimeo-pop-container"><div><span class="vimeo-close"></span><iframe src="https://player.vimeo.com/video/' + videoID + '/?title=1&amp;byline=1&amp;portrait=0&amp;autoplay=1" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div></div>';
  $('body').append($video);
} )

.on('click', '.vimeo-close', function () {
  $(this).addClass('closing');

  $('#vimeo-pop-container').delay(700).animate({
    height: 0,
    top: '50%'
  }, 'fast', function () {
    $('#vimeo-pop-container').remove();
  });
} );
</script>

<!-- <script>

  $(document).ready(function(){
    function toggleBg() {
        .toggleClass("collapsed pressed");
        .setAttribute("controls","controls");
        .preventDefault();
    }
    toggleBg();

    $('#video1').live('click', function(e){
       toggleBg();
    });

      $('#video2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         $(this).css("background","none");
      });
      $('#video3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         $(this).css("background","none");
      });
      $('#video4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#video5').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#video6').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $("#video1").click(function(){
        $(this).toggleClass("background-none");
      });
   });

  $(document).ready(function(){

      $('#video2').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#video3').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         $(this).css("background","none");
      });
      $('#video4').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $('#video5').click(function(){
         $(this).get(0).played ? $(this).get(0).pause() : $(this).get(0).play();
         .setAttribute("controls","controls");
         .setAttribute("poster"," ");
         .css("background","none");
      });
      $("#video1").click(function(){
        $(this).toggleClass("background-none");
      });
   });

</script> -->
