---
title: Autocinema
---

<div id="fullpage">
	<section class="section">Some section</section>
	<section class="section active">
    <div class="intro">
      <div class="intro-container">
        <div class="intro-container__action">
          <a href="#">Servicios</a>
          <p>Desliza hacia arriba</p>
        </div>
        <div class="intro-container__logo">
          <img src="/images/logo.svg" alt="">
        </div>
        <div class="intro-container__action">
          <p>Desliza hacia abajo</p>
          <a href="#">Nuestros Proyectos</a>
        </div>
      </div>
    </div>
  </section>
	<section class="section">Some section</section>
	<section class="section">Some section</section>
</div>

<script type="text/javascript">
  new fullpage('#fullpage');

  //methods
  fullpage_api.setAllowScrolling(true);
</script>
