---
title: Autocinema Ink
---
<%= javascript_include_tag "site" %>

<div id="fullpage">
	<div class="section" data-anchor="servicios">
		<div class="services">
			<div class="services-header">
				<p><a class="services-header__link" href="https://goo.gl/maps/5XpHfCmTRwZj5n4q7">Colima 162, Col. Roma Norte, CDMX</a></p>
				<p class="services-header__alt"><a class="services-header__link" href="mailto:hola@autocinemaink.com">hola@autocinemaink.com</a></p>
				<p><a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a></p>
			</div>
			<div class="services-list">
				<h3>Somos una compañía productora con oficinas en Ciudad de México y Los Ángeles, enfocada en la producción de contenidos para platafor-<br>mas digitales, branded content y publicidad.
					Siempre contaremos buenas historias <span><a class="about-link" href="https://instagram.com/autocinemaink">@autocinemaink</a></span></h3>

			</div>
			<div class="services-logo">
				<a href="#intro"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a>
			</div>
		</div>
	</div>
	<div class="section active" data-anchor="intro">
    <div class="intro">
      <div class="intro-container">
        <div class="intro-container__action animated fadeInDown">
          <a href="#services">Servicios</a>
          <p>Desliza hacia arriba</p>
        </div>
        <div class="intro-container__logo animated fadeIn delay-1s">
          <img src="/images/logo.svg" alt="Autocinema Ink">
        </div>
        <div class="intro-container__action animated fadeInUp">
          <p>Desliza hacia abajo</p>
          <a href="#">Nuestros Proyectos</a>
        </div>
      </div>
    </div>
  </div>
	<div class="section" data-anchor="proyectos">
		<div class="projects">
			<div class="projects-list">
				<div class="projects-list__row">
					<ul>
						<li id="davidRomay"><a href="/david-romay">David Romay</a></li>
						<li id="alejandroLubezki"><a href="/alejandro-lubezki">Alejandro Lubezki</a></li>
						<li id="hariRomay"><a href="/hari-romay">Hari Romay</a></li>
						<li id="ericMejia"><a href="/eric-mejia">Eric Mejía</a></li>
					</ul>
				</div>
				<div class="projects-list__row">
					<ul>
						<li id="javieraEyzaguirre"><a href="/javiera-eyzaguirre">Javiera Eyzaguirre</a></li>
						<li id="callanGreen"><a href="/callan-green">Callan Green</a></li>
						<li id="matiasMalet"><a href="/matias-malet">Matías malet</a></li>
						<li id="pabloMaiola"><a href="/pablo-maiola">Pablo Maiola</a></li>
					</ul>
				</div>
			</div>
			<div class="projects-logo">
				<img src="/images/logo-icon@2x.png" alt="Autocinema Ink">
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
  new fullpage('#fullpage', {
		licenseKey: 'A19230FC-07774D41-8C64651A-D9360833'
	});

  //methods
  fullpage_api.setAllowScrolling(true);
</script>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script type="text/javascript">
	$(document).ready(function(){
    $("#davidRomay").hover(function(){
        $('.projects').css("background", "url('./images/bg-romay.png')");
    });
		$("#alejandroLubezki").hover(function(){
				$('.projects').css("background", "url('./images/bg-lubezki.png')");
		});
		$("#hariRomay").hover(function(){
				$('.projects').css("background", "url('./images/bg-hromay.jpg')");
		});
		$("#javieraEyzaguirre").hover(function(){
        $('.projects').css("background", "url('./images/bg-eyzaguirre.jpg')");
    });
		$("#callanGreen").hover(function(){
				$('.projects').css("background", "url('./images/bg-green.jpg')");
		});
		$("#matiasMalet").hover(function(){
				$('.projects').css("background", "url('./images/bg-malet.jpg')");
		});
		$("#ericMejia").hover(function(){
				$('.projects').css("background", "url('./images/bg-mejia.jpg')");
		});
		$("#pabloMaiola").hover(function(){
				$('.projects').css("background", "url('./images/bg-maiola.png')");
		});
});
</script>
