---
title: Autocinema Ink
---
<%= javascript_include_tag "site" %>

<div id="fullpage">
	<div class="section" data-anchor="servicios">
		<div class="services">
			<div class="services-header">
				<p><a class="services-header__link" href="https://goo.gl/maps/5XpHfCmTRwZj5n4q7">Colima 162, Col. Roma Norte, CDMX</a></p>
				<p class="services-header__alt"><a class="services-header__link" href="mailto:hola@autocinemaink.com">hola@autocinemaink.com</a></p>
				<p><a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a></p>
			</div>
			<div class="services-list">
				<h3>Somos una compañía productora con oficinas en Ciudad de México y Los Ángeles, enfocada en la producción de contenidos para platafor-<br>mas digitales, branded content y publicidad.
					Siempre contaremos buenas historias <span><a class="about-link" href="https://instagram.com/autocinemaink">@autocinemaink</a></span></h3>

			</div>
			<div class="services-logo">
				<a href="#intro"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a>
			</div>
		</div>
	</div>
	<div class="section active" data-anchor="intro">
    <div class="intro">
      <div class="intro-container">
        <div class="intro-container__action animated fadeInDown">
					<div class="visible">
						<ul class="word-spin2">
							<li><a href="#servicios">Servicios</a></li>
							<li><a href="#servicios">Servicios</a></li>
						</ul>
					</div>
          <p>Desliza hacia arriba</p>
        </div>
        <div class="intro-container__logo animated fadeIn delay-1s">
					<svg class="text-anim animate" viewBox="0 0 820 185" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path class="eleven" d="M794.6 1.28999H801.08V14.94H801.63L811.77 1.28999H819.84L819.67 1.88999L807.36 17.8V18.35L819.67 34.26L819.84 34.86H811.77L801.63 21.31H801.08V34.86H794.6V1.28999Z" fill="#F37317"/>
						<path class="ten" d="M764.07 1.28999H772.27L783 24.16H783.54V1.28999H789.91V34.86H781.72L771 12H770.46V34.86H764.09L764.07 1.28999Z" fill="#F37317"/>
						<path class="nine" d="M753 1.28999H759.49V34.86H753V1.28999Z" fill="#F37317"/>
						<path class="eight" d="M680.37 1.5H719.08L736.94 183.35H709.6L707.44 154.35H689.58L687.41 183.35H662.78L680.37 1.5ZM691.2 133.64H705.82L699.82 25.73H697.18L691.2 133.64Z" fill="#F37317"/>
						<path class="seven" d="M580.59 25.48L581.91 183.35H560V1.5H597.9L606.83 137.38L614.66 1.5H655.26V183.35H631.17L632.49 25.48H629.85L619.26 183.35H593.82L583.22 25.48H580.59Z" fill="#F37317"/>
						<path class="six" d="M498.3 1.5H551.62V22.23H524.55V71.44H551.62V92.17H524.55V162.61H551.62V183.35H498.3V1.5Z" fill="#F37317"/>
						<path class="five" d="M438.35 44.43H435.71L439.48 183.35H416.48V1.5H447.34L467.34 130.89H470L466.28 1.5H489.28V183.35H460.28L438.35 44.43Z" fill="#F37317"/>
						<path class="four" d="M407.79 1.5V183.35H381.53V1.5H407.79Z" fill="#F37317"/>
						<path class="three" d="M372.87 58.49V31.72C372.87 11 361.77 0 340.39 0H338C317.15 0 304.7 11 304.7 31.72V153.12C304.7 173.85 316.34 184.84 337.7 184.84H340.14C360.98 184.84 372.89 173.84 372.89 153.12V118.87H347V164.11H331.08V160.05C331.08 159.85 331.08 159.64 331.08 159.42V25.48C331.08 25.25 331.08 25.04 331.08 24.83V20.73H347V25.42V58.49H372.87Z" fill="#F37317"/>
						<path class="two" d="M263 0H260.57C239.72 0 227.27 11 227.27 31.72V153.12C227.27 173.85 238.91 184.84 260.27 184.84H262.71C283.55 184.84 296 173.84 296 153.12V31.72C296 11 284.36 0 263 0ZM269.63 164.11H253.63V20.73H269.63V164.11Z" fill="#F37317"/>
						<path class="one" d="M201.3 183.35H175V22.23H156.37V1.5H220.24V22.23H201.3V183.35Z" fill="#F37317"/>
						<path class="one" d="M122.59 1.5V164.11H106.59V1.5H80.36V152.87C80.36 173.6 92 184.6 113.36 184.6H115.8C136.64 184.6 149.09 173.6 149.09 152.87V1.5H122.59Z" fill="#F37317"/>
						<path class="one" d="M17.59 1.5H56.3L74.16 183.35H46.82L44.66 154.35H26.8L24.63 183.35H0L17.59 1.5ZM28.42 133.64H43L37 25.73H34.41L28.42 133.64Z" fill="#F37317"/>
					</svg>

					<!-- <img src="/images/logo.svg" alt="Logo"> -->
        </div>
        <div class="intro-container__action animated fadeInUp">
          <p>Desliza hacia abajo</p>
					<div class="visible">
						<ul class="word-spin">
							<li><a href="#proyectos">Nuestros Proyectos</a></li>
							<li><a href="#proyectos">Nuestros Proyectos</a></li>
						</ul>
					</div>
        </div>
      </div>
    </div>
  </div>
	<div class="section" data-anchor="proyectos">
		<div class="projects">
			<div class="projects-list">
				<div class="projects-list__row">
					<ul>
						<li id="davidRomay"><a href="/david-romay">David Romay</a></li>
						<li id="alejandroLubezki"><a href="/alejandro-lubezki">Alejandro Lubezki</a></li>
						<li id="hariRomay"><a href="/hari-romay">Hari Romay</a></li>
						<li id="ericMejia"><a href="/eric-mejia">Eric Mejía</a></li>
					</ul>
				</div>
				<div class="projects-list__row">
					<ul>
						<li id="javieraEyzaguirre"><a href="/javiera-eyzaguirre">Javiera Eyzaguirre</a></li>
						<li id="callanGreen"><a href="/callan-green">Callan Green</a></li>
						<li id="matiasMalet"><a href="/matias-malet">Matías malet</a></li>
						<li id="pabloMaiola"><a href="/pablo-maiola">Pablo Maiola</a></li>
					</ul>
				</div>
			</div>
			<div class="projects-logo">
				<a href="#intro"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
  new fullpage('#fullpage', {
		licenseKey: 'A19230FC-07774D41-8C64651A-D9360833'
	});

  //methods
  fullpage_api.setAllowScrolling(true);
</script>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script type="text/javascript">
	$(document).ready(function(){
    $("#davidRomay").hover(function(){
        $('.projects').css("background", "url('./images/bg-romay.gif')");
    });
		$("#alejandroLubezki").hover(function(){
				$('.projects').css("background", "url('./images/bg-lubezki.gif')");
		});
		$("#hariRomay").hover(function(){
				$('.projects').css("background", "url('./images/bg-hari.gif')");
		});
		$("#javieraEyzaguirre").hover(function(){
        $('.projects').css("background", "url('./images/bg-eyzaguirre2.gif')");
    });
		$("#callanGreen").hover(function(){
				$('.projects').css("background", "url('./images/bg-green.gif')");
		});
		$("#matiasMalet").hover(function(){
				$('.projects').css("background", "url('./images/bg-malet.gif')");
		});
		$("#ericMejia").hover(function(){
				$('.projects').css("background", "url('./images/bg-mejia.gif')");
		});
		$("#pabloMaiola").hover(function(){
				$('.projects').css("background", "url('./images/bg-maiola.png')");
		});
});
</script>

<script type="text/javascript">
	const logo = document.querySelectorAll("#logo path");
	for(let i = 0; i<logo.length; i++){
		console.log(`Letter ${i} is ${logo[i].getTotalLength()}`);
	}
</script>
