---
title: Autocinema Ink
---
<%= javascript_include_tag "site" %>

<div id="fullpage">
	<div class="section" data-anchor="servicios">
		<div class="services">
			<div class="services-header">
				<p><a class="services-header__link" href="https://goo.gl/maps/5XpHfCmTRwZj5n4q7">Colima 162, Col. Roma Norte, CDMX</a></p>
				<p class="services-header__alt"><a class="services-header__link" href="mailto:hola@autocinemaink.com">hola@autocinemaink.com</a></p>
				<p><a class="services-header__link" href="https://instagram.com/autocinemaink">@autocinemaink</a></p>
			</div>
			<div class="services-list">
				<h3>Somos una compañía productora con oficinas en Ciudad de México y Los Ángeles, enfocada en la producción de contenidos para platafor-<br>mas digitales, branded content y publicidad.
					Siempre contaremos buenas historias <span><a class="about-link" href="https://instagram.com/autocinemaink">@autocinemaink</a></span></h3>

			</div>
			<div class="services-logo">
				<a href="#intro"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a>
			</div>
		</div>
	</div>
	<div class="section active" data-anchor="intro">
    <div class="intro">
      <div class="intro-container">
        <div class="intro-container__action animated fadeInDown">
          <a href="#servicios">Servicios</a>
          <p>Desliza hacia arriba</p>
        </div>
        <div class="intro-container__logo animated fadeIn delay-1s">
					<svg id="logo" viewBox="0 0 820 185" fill="#000" xmlns="http://www.w3.org/2000/svg">
						<path d="M755.5 3.78999H756.99V32.36H755.5V3.78999Z" stroke-width="5"/>
						<path d="M786.04 24.16V3.78999H787.41V32.36H783.309L773.263 10.9386L772.589 9.49999H771H770.46H767.96V12V32.36H766.589L766.571 3.78999H770.681L780.737 25.2219L781.411 26.66H783H783.54H786.04V24.16Z" stroke-width="5"/>
						<path d="M803.637 16.4308L813.027 3.78999H815.039L805.383 16.2701L804.86 16.9458V17.8V18.35V19.2042L805.383 19.8799L815.039 32.36H813.022L803.632 19.8121L802.882 18.81H801.63H801.08H798.58V21.31V32.36H797.1V3.78999H798.58V14.94V17.44H801.08H801.63H802.887L803.637 16.4308Z" stroke-width="5"/>
						<path d="M47.1531 154.164L46.9807 151.85H44.66H26.8H24.4801L24.307 154.163L22.3101 180.85H2.75349L19.8598 4H54.0335L71.4024 180.85H49.1407L47.1531 154.164ZM25.9238 133.501L25.7774 136.14H28.42H43H45.6429L45.4961 133.501L39.4961 25.5912L39.3649 23.23H37H34.41H32.0449L31.9138 25.5914L25.9238 133.501Z" stroke-width="5"/>
						<path d="M198.8 22.23V180.85H177.5V22.23V19.73H175H158.87V4H217.74V19.73H201.3H198.8V22.23Z" stroke-width="5"/>
						<path d="M405.29 4V180.85H384.03V4H405.29Z" stroke-width="5"/>
						<path d="M440.819 44.0402L440.486 41.93H438.35H435.71H433.141L433.211 44.4978L436.911 180.85H418.98V4H445.197L464.869 131.272L465.197 133.39H467.34H470H472.573L472.499 130.818L468.853 4H486.78V180.85H462.416L440.819 44.0402Z" stroke-width="5"/>
						<path d="M524.55 165.11H549.12V180.85H500.8V4H549.12V19.73H524.55H522.05V22.23V71.44V73.94H524.55H549.12V89.67H524.55H522.05V92.17V162.61V165.11H524.55Z" stroke-width="5"/>
						<path d="M580.59 22.98H578.069L578.09 25.5009L579.389 180.85H562.5V4H595.559L604.335 137.544L609.326 137.524L617.02 4H652.76V180.85H633.691L634.99 25.5009L635.011 22.98H632.49H629.85H627.512L627.356 25.3127L616.922 180.85H596.158L585.714 25.3125L585.558 22.98H583.22H580.59Z" stroke-width="5"/>
						<path d="M709.933 154.164L709.761 151.85H707.44H689.58H687.26L687.087 154.163L685.09 180.85H665.534L682.64 4H716.814L734.182 180.85H711.921L709.933 154.164ZM688.704 133.502L688.558 136.14H691.2H705.82H708.463L708.316 133.501L702.316 25.5912L702.185 23.23H699.82H697.18H694.815L694.684 25.5917L688.704 133.502Z" stroke-width="5"/>
						<path d="M269.63 166.61H272.13V164.11V20.73V18.23H269.63H253.63H251.13V20.73V164.11V166.61H253.63H269.63ZM260.57 2.5H263C273.276 2.5 280.816 5.14378 285.782 9.89618C290.729 14.6312 293.5 21.8216 293.5 31.72V153.12C293.5 162.971 290.554 170.168 285.464 174.923C280.346 179.703 272.712 182.34 262.71 182.34H260.27C249.993 182.34 242.454 179.698 237.488 174.947C232.541 170.214 229.77 163.024 229.77 153.12V31.72C229.77 21.8686 232.716 14.6719 237.807 9.91724C242.926 5.13741 250.562 2.5 260.57 2.5Z" stroke-width="5"/>
						<path d="M122.59 166.61H125.09V164.11V4H146.59V152.87C146.59 162.727 143.644 169.926 138.553 174.682C133.436 179.463 125.802 182.1 115.8 182.1H113.36C103.084 182.1 95.5446 179.456 90.5787 174.703C85.6308 169.967 82.86 162.774 82.86 152.87V4H104.09V164.11V166.61H106.59H122.59Z" stroke-width="5"/>
						<path d="M347 166.61H349.5V164.11V121.37H370.39V153.12C370.39 163.003 367.56 170.2 362.602 174.943C357.625 179.704 350.142 182.34 340.14 182.34H337.7C327.423 182.34 319.884 179.698 314.918 174.947C309.971 170.214 307.2 163.024 307.2 153.12V31.72C307.2 21.8686 310.146 14.6719 315.237 9.91724C320.356 5.13741 327.992 2.5 338 2.5H340.39C350.677 2.5 358.07 5.14334 362.897 9.87529C367.716 14.5991 370.37 21.7896 370.37 31.72V55.99H349.5V25.42V20.73V18.23H347H331.08H328.58V20.73V24.83V24.8312V24.8325V24.8337V24.8349V24.8362V24.8374V24.8386V24.8398V24.8411V24.8423V24.8435V24.8448V24.846V24.8472V24.8485V24.8497V24.8509V24.8521V24.8534V24.8546V24.8558V24.8571V24.8583V24.8595V24.8608V24.862V24.8632V24.8645V24.8657V24.8669V24.8681V24.8694V24.8706V24.8718V24.8731V24.8743V24.8755V24.8768V24.878V24.8792V24.8805V24.8817V24.8829V24.8842V24.8854V24.8866V24.8878V24.8891V24.8903V24.8915V24.8928V24.894V24.8952V24.8965V24.8977V24.8989V24.9002V24.9014V24.9026V24.9039V24.9051V24.9063V24.9076V24.9088V24.91V24.9113V24.9125V24.9137V24.915V24.9162V24.9174V24.9186V24.9199V24.9211V24.9223V24.9236V24.9248V24.926V24.9273V24.9285V24.9297V24.931V24.9322V24.9334V24.9347V24.9359V24.9371V24.9384V24.9396V24.9409V24.9421V24.9433V24.9446V24.9458V24.947V24.9483V24.9495V24.9507V24.952V24.9532V24.9544V24.9557V24.9569V24.9581V24.9594V24.9606V24.9618V24.9631V24.9643V24.9655V24.9668V24.968V24.9693V24.9705V24.9717V24.973V24.9742V24.9754V24.9767V24.9779V24.9792V24.9804V24.9816V24.9829V24.9841V24.9853V24.9866V24.9878V24.989V24.9903V24.9915V24.9928V24.994V24.9952V24.9965V24.9977V24.999V25.0002V25.0014V25.0027V25.0039V25.0052V25.0064V25.0076V25.0089V25.0101V25.0114V25.0126V25.0138V25.0151V25.0163V25.0176V25.0188V25.02V25.0213V25.0225V25.0238V25.025V25.0262V25.0275V25.0287V25.03V25.0312V25.0325V25.0337V25.0349V25.0362V25.0374V25.0387V25.0399V25.0412V25.0424V25.0436V25.0449V25.0461V25.0474V25.0486V25.0499V25.0511V25.0524V25.0536V25.0548V25.0561V25.0573V25.0586V25.0598V25.0611V25.0623V25.0636V25.0648V25.0661V25.0673V25.0686V25.0698V25.071V25.0723V25.0735V25.0748V25.076V25.0773V25.0785V25.0798V25.081V25.0823V25.0835V25.0848V25.086V25.0873V25.0885V25.0898V25.091V25.0923V25.0935V25.0948V25.096V25.0973V25.0985V25.0998V25.101V25.1023V25.1035V25.1048V25.106V25.1073V25.1086V25.1098V25.1111V25.1123V25.1136V25.1148V25.1161V25.1173V25.1186V25.1198V25.1211V25.1223V25.1236V25.1249V25.1261V25.1274V25.1286V25.1299V25.1311V25.1324V25.1337V25.1349V25.1362V25.1374V25.1387V25.1399V25.1412V25.1425V25.1437V25.145V25.1462V25.1475V25.1488V25.15V25.1513V25.1525V25.1538V25.1551V25.1563V25.1576V25.1588V25.1601V25.1614V25.1626V25.1639V25.1652V25.1664V25.1677V25.1689V25.1702V25.1715V25.1727V25.174V25.1753V25.1765V25.1778V25.1791V25.1803V25.1816V25.1829V25.1841V25.1854V25.1867V25.1879V25.1892V25.1905V25.1917V25.193V25.1943V25.1955V25.1968V25.1981V25.1994V25.2006V25.2019V25.2032V25.2044V25.2057V25.207V25.2082V25.2095V25.2108V25.2121V25.2133V25.2146V25.2159V25.2172V25.2184V25.2197V25.221V25.2223V25.2235V25.2248V25.2261V25.2274V25.2286V25.2299V25.2312V25.2325V25.2337V25.235V25.2363V25.2376V25.2389V25.2401V25.2414V25.2427V25.244V25.2452V25.2465V25.2478V25.2491V25.2504V25.2517V25.2529V25.2542V25.2555V25.2568V25.2581V25.2593V25.2606V25.2619V25.2632V25.2645V25.2658V25.2671V25.2683V25.2696V25.2709V25.2722V25.2735V25.2748V25.2761V25.2773V25.2786V25.2799V25.2812V25.2825V25.2838V25.2851V25.2864V25.2877V25.2889V25.2902V25.2915V25.2928V25.2941V25.2954V25.2967V25.298V25.2993V25.3006V25.3019V25.3032V25.3045V25.3058V25.307V25.3083V25.3096V25.3109V25.3122V25.3135V25.3148V25.3161V25.3174V25.3187V25.32V25.3213V25.3226V25.3239V25.3252V25.3265V25.3278V25.3291V25.3304V25.3317V25.333V25.3343V25.3356V25.3369V25.3382V25.3395V25.3408V25.3422V25.3435V25.3448V25.3461V25.3474V25.3487V25.35V25.3513V25.3526V25.3539V25.3552V25.3565V25.3578V25.3591V25.3605V25.3618V25.3631V25.3644V25.3657V25.367V25.3683V25.3696V25.3709V25.3723V25.3736V25.3749V25.3762V25.3775V25.3788V25.3801V25.3815V25.3828V25.3841V25.3854V25.3867V25.3881V25.3894V25.3907V25.392V25.3933V25.3946V25.396V25.3973V25.3986V25.3999V25.4013V25.4026V25.4039V25.4052V25.4065V25.4079V25.4092V25.4105V25.4118V25.4132V25.4145V25.4158V25.4172V25.4185V25.4198V25.4211V25.4225V25.4238V25.4251V25.4265V25.4278V25.4291V25.4304V25.4318V25.4331V25.4344V25.4358V25.4371V25.4384V25.4398V25.4411V25.4424V25.4438V25.4451V25.4464V25.4478V25.4491V25.4505V25.4518V25.4531V25.4545V25.4558V25.4572V25.4585V25.4598V25.4612V25.4625V25.4639V25.4652V25.4665V25.4679V25.4692V25.4706V25.4719V25.4733V25.4746V25.476V25.4773V25.4787V25.48V159.42V159.421V159.423V159.424V159.425V159.426V159.428V159.429V159.43V159.432V159.433V159.434V159.435V159.437V159.438V159.439V159.441V159.442V159.443V159.444V159.446V159.447V159.448V159.45V159.451V159.452V159.453V159.455V159.456V159.457V159.459V159.46V159.461V159.462V159.464V159.465V159.466V159.468V159.469V159.47V159.471V159.473V159.474V159.475V159.477V159.478V159.479V159.48V159.482V159.483V159.484V159.485V159.487V159.488V159.489V159.491V159.492V159.493V159.494V159.496V159.497V159.498V159.499V159.501V159.502V159.503V159.505V159.506V159.507V159.508V159.51V159.511V159.512V159.513V159.515V159.516V159.517V159.519V159.52V159.521V159.522V159.524V159.525V159.526V159.527V159.529V159.53V159.531V159.533V159.534V159.535V159.536V159.538V159.539V159.54V159.541V159.543V159.544V159.545V159.546V159.548V159.549V159.55V159.552V159.553V159.554V159.555V159.557V159.558V159.559V159.56V159.562V159.563V159.564V159.565V159.567V159.568V159.569V159.571V159.572V159.573V159.574V159.576V159.577V159.578V159.579V159.581V159.582V159.583V159.584V159.586V159.587V159.588V159.589V159.591V159.592V159.593V159.594V159.596V159.597V159.598V159.599V159.601V159.602V159.603V159.605V159.606V159.607V159.608V159.61V159.611V159.612V159.613V159.615V159.616V159.617V159.618V159.62V159.621V159.622V159.623V159.625V159.626V159.627V159.628V159.63V159.631V159.632V159.633V159.635V159.636V159.637V159.638V159.64V159.641V159.642V159.643V159.645V159.646V159.647V159.648V159.65V159.651V159.652V159.653V159.655V159.656V159.657V159.658V159.66V159.661V159.662V159.663V159.665V159.666V159.667V159.668V159.67V159.671V159.672V159.673V159.674V159.676V159.677V159.678V159.679V159.681V159.682V159.683V159.684V159.686V159.687V159.688V159.689V159.691V159.692V159.693V159.694V159.696V159.697V159.698V159.699V159.701V159.702V159.703V159.704V159.705V159.707V159.708V159.709V159.71V159.712V159.713V159.714V159.715V159.717V159.718V159.719V159.72V159.722V159.723V159.724V159.725V159.726V159.728V159.729V159.73V159.731V159.733V159.734V159.735V159.736V159.738V159.739V159.74V159.741V159.743V159.744V159.745V159.746V159.747V159.749V159.75V159.751V159.752V159.754V159.755V159.756V159.757V159.758V159.76V159.761V159.762V159.763V159.765V159.766V159.767V159.768V159.77V159.771V159.772V159.773V159.774V159.776V159.777V159.778V159.779V159.781V159.782V159.783V159.784V159.785V159.787V159.788V159.789V159.79V159.792V159.793V159.794V159.795V159.796V159.798V159.799V159.8V159.801V159.803V159.804V159.805V159.806V159.807V159.809V159.81V159.811V159.812V159.813V159.815V159.816V159.817V159.818V159.82V159.821V159.822V159.823V159.824V159.826V159.827V159.828V159.829V159.831V159.832V159.833V159.834V159.835V159.837V159.838V159.839V159.84V159.841V159.843V159.844V159.845V159.846V159.847V159.849V159.85V159.851V159.852V159.854V159.855V159.856V159.857V159.858V159.86V159.861V159.862V159.863V159.864V159.866V159.867V159.868V159.869V159.87V159.872V159.873V159.874V159.875V159.876V159.878V159.879V159.88V159.881V159.882V159.884V159.885V159.886V159.887V159.889V159.89V159.891V159.892V159.893V159.895V159.896V159.897V159.898V159.899V159.901V159.902V159.903V159.904V159.905V159.907V159.908V159.909V159.91V159.911V159.913V159.914V159.915V159.916V159.917V159.919V159.92V159.921V159.922V159.923V159.924V159.926V159.927V159.928V159.929V159.93V159.932V159.933V159.934V159.935V159.936V159.938V159.939V159.94V159.941V159.942V159.944V159.945V159.946V159.947V159.948V159.95V159.951V159.952V159.953V159.954V159.956V159.957V159.958V159.959V159.96V159.961V159.963V159.964V159.965V159.966V159.967V159.969V159.97V159.971V159.972V159.973V159.975V159.976V159.977V159.978V159.979V159.98V159.982V159.983V159.984V159.985V159.986V159.988V159.989V159.99V159.991V159.992V159.993V159.995V159.996V159.997V159.998V159.999V160.001V160.002V160.003V160.004V160.005V160.006V160.008V160.009V160.01V160.011V160.012V160.014V160.015V160.016V160.017V160.018V160.019V160.021V160.022V160.023V160.024V160.025V160.027V160.028V160.029V160.03V160.031V160.032V160.034V160.035V160.036V160.037V160.038V160.039V160.041V160.042V160.043V160.044V160.045V160.046V160.048V160.049V160.05V164.11V166.61H331.08H347Z" stroke-width="5"/>
					</svg>

        </div>
        <div class="intro-container__action animated fadeInUp">
          <p>Desliza hacia abajo</p>
          <a href="#proyectos">Nuestros Proyectos</a>
        </div>
      </div>
    </div>
  </div>
	<div class="section" data-anchor="proyectos">
		<div class="projects">
			<div class="projects-list">
				<div class="projects-list__row">
					<ul>
						<li id="davidRomay"><a href="/david-romay">David Romay</a></li>
						<li id="alejandroLubezki"><a href="/alejandro-lubezki">Alejandro Lubezki</a></li>
						<li id="hariRomay"><a href="/hari-romay">Hari Romay</a></li>
						<li id="ericMejia"><a href="/eric-mejia">Eric Mejía</a></li>
					</ul>
				</div>
				<div class="projects-list__row">
					<ul>
						<li id="javieraEyzaguirre"><a href="/javiera-eyzaguirre">Javiera Eyzaguirre</a></li>
						<li id="callanGreen"><a href="/callan-green">Callan Green</a></li>
						<li id="matiasMalet"><a href="/matias-malet">Matías malet</a></li>
						<li id="pabloMaiola"><a href="/pablo-maiola">Pablo Maiola</a></li>
					</ul>
				</div>
			</div>
			<div class="projects-logo">
				<a href="#intro"><img src="/images/logo-icon@2x.png" alt="Autocinema Ink"></a>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
  new fullpage('#fullpage', {
		licenseKey: 'A19230FC-07774D41-8C64651A-D9360833'
	});

  //methods
  fullpage_api.setAllowScrolling(true);
</script>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>

<script type="text/javascript">
	$(document).ready(function(){
    $("#davidRomay").hover(function(){
        $('.projects').css("background", "url('./images/bg-romay.gif')");
    });
		$("#alejandroLubezki").hover(function(){
				$('.projects').css("background", "url('./images/bg-lubezki.gif')");
		});
		$("#hariRomay").hover(function(){
				$('.projects').css("background", "url('./images/bg-hari.gif')");
		});
		$("#javieraEyzaguirre").hover(function(){
        $('.projects').css("background", "url('./images/bg-eyzaguirre2.gif')");
    });
		$("#callanGreen").hover(function(){
				$('.projects').css("background", "url('./images/bg-green.gif')");
		});
		$("#matiasMalet").hover(function(){
				$('.projects').css("background", "url('./images/bg-malet.gif')");
		});
		$("#ericMejia").hover(function(){
				$('.projects').css("background", "url('./images/bg-mejia.gif')");
		});
		$("#pabloMaiola").hover(function(){
				$('.projects').css("background", "url('./images/bg-maiola.png')");
		});
});
</script>

<script type="text/javascript">
	const logo = document.querySelectorAll("#logo path");
	for(let i = 0; i<logo.length; i++){
		console.log(`Letter ${i} is ${logo[i].getTotalLength()}`);
	}
</script>
